Repository RaphaelManke/fzi-iota-showcase: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml, azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

azure-pipelines/frontend-showcase-vis-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/showcase-user-interface-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/vehicle-client-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/vehicle-mock-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

comment out name tooltips for vehicles in frontend
  frontend-showcase-vis/src/components/VehicleObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

color transaction types
  frontend-showcase-vis/src/components/TanglePanel.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

add cookie and prevent double login
  showcase-user-interface/package-lock.json
  showcase-user-interface/package.json
  showcase-user-interface/src/components/Login.vue
  showcase-user-interface/src/stores/store.ts
Due: azure-pipelines/showcase-user-interface-build.yml

remove default seed
  showcase-user-interface/src/stores/user/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

replace alert with modal
  showcase-user-interface/src/components/Login.vue
Due: azure-pipelines/showcase-user-interface-build.yml

prevent address reuse in flash mock
  backend/distribute_iota.js
  client/package-lock.json
  client/src/messages/flashMock.ts
  showcase-user-interface/package-lock.json
  user-client/src/tripHandler.ts
  vehicle-client/src/boardingHandler.ts
Due: azure-pipelines/showcase-user-interface-build.yml, azure-pipelines/vehicle-client-build.yml

set mwm in flash mock
  user-client/src/userState.ts
  vehicle-mock/src/boarder.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

auto login after backend restart
  showcase-user-interface/src/components/Login.vue
  showcase-user-interface/src/stores/routes/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

clear routes and events after logout
  showcase-user-interface/src/App.vue
Due: azure-pipelines/showcase-user-interface-build.yml

check channel capacity before checkIn
  tram-mock/src/scheduleHandler.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

package lock
  backend/package-lock.json
  tram-mock/package-lock.json
  user-client/package-lock.json
  vehicle-client/package-lock.json
  vehicle-mock/package-lock.json
Due: azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

fix stop trip prematurely
  vehicle-client/src/boardingHandler.ts
  vehicle-mock/src/boarder.ts
Due: azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

added config folder with more vehicles
  deployment/config/connections.json
  deployment/config/schedules.json
  deployment/config/stops.json
  deployment/config/users.json
  deployment/config/vehicles.json
Due: none

made IRI node changeable
  .gitignore
  deployment/.env.example
  deployment/docker-compose.yml
Due: none

added readme for deployment
  deployment/README.md
Due: none

fix crash on logging vehicle with high id
  backend/package-lock.json
  backend/src/logger.ts
Due: none

add dockerignore for faste build
  backend/.dockerignore
  frontend-showcase-vis/.dockerignore
  showcase-user-interface/.dockerignore
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

remove dev dependencies in Dockerfile
  backend/Dockerfile
  frontend-showcase-vis/Dockerfile
Due: azure-pipelines/frontend-showcase-vis-build.yml

add retries to iota based operations
  backend/package-lock.json
  backend/package.json
  backend/src/controller.ts
  backend/src/main.ts
  backend/src/users.ts
  client/package-lock.json
  client/package.json
  client/src/messages/flashMock.ts
  tram-mock/package-lock.json
  tram-mock/package.json
  tram-mock/src/scheduleHandler.ts
  user-client/package-lock.json
  user-client/package.json
  user-client/src/userState.ts
  vehicle-mock/package-lock.json
  vehicle-mock/package.json
  vehicle-mock/src/boarder.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

add retry to checkOutMessage
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

Auto stash before merge of "master" and "origin/master"
  azure-pipelines/jobs/build-vue.yml
Due: none

changed restart policy
  deployment/docker-compose.yml
Due: none

added how to start private tangle
  private-tangle/README.md
Due: none

removed traefik complety
  deployment/docker-compose.yml
Due: none

jump to route observer immediately after submit
  backend/package-lock.json
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/showcase-user-interface-build.yml

add node availability check
  backend/package-lock.json
  backend/src/main.ts
Due: none

logging
  backend/config/vehicles.json
  backend/config/vehicles.json.org
  backend/src/main.ts
Due: none

clear state if auto login fails
  showcase-user-interface/src/components/Login.vue
Due: azure-pipelines/showcase-user-interface-build.yml

Added curl for healtcheck
  backend/Dockerfile
Due: none

added conncetion
  backend/config/connections.json
Due: none

extended variables
  deployment/.env.example
Due: none

Auto stash before merge of "master" and "origin/master"
  private-tangle/docker-compose.yml
Due: none

added healthcheck
  deployment/docker-compose.yml
Due: none

react to boarding event
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/stores/routes/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

change transaction type color to great stuff
  frontend-showcase-vis/src/components/TanglePanel.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

limit route length
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/showcase-user-interface-build.yml

fixed route building bug
  backend/src/router.ts
  backend/test/router.spec.ts
Due: none

added new connection to deployment
  deployment/config/connections.json
Due: none

removed cars
  deployment/config/vehicles.json
Due: none

removed unused network
  deployment/docker-compose.yml
Due: none

Path conditions:
  azure-pipelines/frontend-showcase-vis-build.yml: any of: frontend-showcase-vis, azure-pipelines/frontend-showcase-vis-build.yml
  azure-pipelines/showcase-user-interface-build.yml: any of: showcase-user-interface
  azure-pipelines/vehicle-client-build.yml: any of: vehicle-client
  azure-pipelines/vehicle-mock-build.yml: any of: vehicle-mock
