Repository RaphaelManke/fzi-iota-showcase: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml, azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

azure-pipelines/frontend-showcase-vis-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/showcase-user-interface-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/vehicle-client-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/vehicle-mock-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

add boarding handler to vehicle mock
  vehicle-client/package-lock.json
  vehicle-mock/src/tripState.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

adjust stop icon size
  frontend-showcase-vis/src/components/StopObject.vue
  showcase-user-interface/src/components/StopObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

clear events after route finished
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/stores/events/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

add copy defaults and fixed container start
  backend/Dockerfile
Due: none

added production env
  frontend-showcase-vis/.env.production
  showcase-user-interface/.env.production
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

fixed port
  backend/Dockerfile
Due: none

refactore frontend visu in bootstrap
  frontend-showcase-vis/package-lock.json
  frontend-showcase-vis/package.json
  frontend-showcase-vis/public/index.html
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/components/EventList.vue
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/components/StateTable.vue
  frontend-showcase-vis/src/components/StateTableObject.vue
  frontend-showcase-vis/src/main.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

fixed hostname
  frontend-showcase-vis/.env.production
  showcase-user-interface/.env.production
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

fixed make tool
  backend/tools/config.env
Due: none

added docker-compose
  deployment/docker-compose.yml
Due: none

connect stop at next halt button
  showcase-user-interface/src/components/RouteObserver.vue
Due: azure-pipelines/showcase-user-interface-build.yml

shoe checkIn as a transaction?
  frontend-showcase-vis/src/stores/transactions/index.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

fix transactions not scrollable
  frontend-showcase-vis/src/components/EventList.vue
  frontend-showcase-vis/src/components/MapVisu.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

use real connections for router test
  backend/package-lock.json
  backend/src/router.ts
  backend/test/router.spec.ts
  backend/vehicles.json
Due: none

implemented trip handler construction
  frontend-showcase-vis/package-lock.json
  user-client/package-lock.json
  user-client/src/userState.ts
  vehicle-mock/package-lock.json
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/vehicle-mock-build.yml

construct boarding handler
  backend/src/controller.ts
  backend/src/server.ts
  backend/src/users.ts
Due: none

return next stop on stopTripAtNextStop
  backend/src/controller.ts
  backend/src/server.ts
  vehicle-mock/src/mover.ts
Due: azure-pipelines/vehicle-mock-build.yml

fix login fail after adding user state prop
  backend/package-lock.json
  frontend-showcase-vis/src/components/EventList.vue
  showcase-user-interface/src/components/RouteSelection.vue
  showcase-user-interface/src/stores/user/index.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

make stop at next trip work
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/stores/user/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

sort stops alphabetically
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/showcase-user-interface-build.yml

don't return user state on login/logout
  backend/src/server.ts
  showcase-user-interface/src/components/RouteSelection.vue
  showcase-user-interface/src/stores/user/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

calculate settlement address for payment channel
  user-client/src/userState.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

implemented tx senders for payment
  user-client/src/userState.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

implemented bundle reader
  user-client/src/tripHandler.ts
  user-client/src/userState.ts
  vehicle-client/src/boardingHandler.ts
Due: azure-pipelines/vehicle-client-build.yml

implemented bundle reader for vehicle mock
  client/src/messages/flashMock.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

added missing event methods
  user-client/src/tripHandler.ts
  vehicle-client/src/boardingHandler.ts
Due: azure-pipelines/vehicle-client-build.yml

refactored trip starting
  backend/src/controller.ts
  backend/src/tripStarter.ts
  vehicle-mock/package-lock.json
Due: azure-pipelines/vehicle-mock-build.yml

package-lock
  vehicle-client/src/boardingHandler.ts
  vehicle-mock/package-lock.json
Due: azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

remove unnecessary dependency
  backend/package-lock.json
  backend/package.json
Due: none

add mock payments/messages switch
  user-client/src/userState.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

bugfixing for mocking
  user-client/src/userState.ts
  vehicle-mock/package-lock.json
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

add args to mock payments/messages to backend
  backend/nodemon.json
  backend/src/controller.ts
  backend/src/main.ts
  backend/src/mockConstructor.ts
  backend/src/tripStarter.ts
  backend/src/users.ts
Due: none

added logs
  client/src/messages/flashMock.ts
  user-client/src/tripHandler.ts
  user-client/src/userState.ts
  vehicle-client/src/boardingHandler.ts
Due: azure-pipelines/vehicle-client-build.yml

bugfixing boarding
  client/package-lock.json
  client/src/messages/flashMock.ts
  user-client/package-lock.json
  user-client/src/tripHandler.ts
  user-client/src/userState.ts
  vehicle-client/src/boardingHandler.ts
Due: azure-pipelines/vehicle-client-build.yml

bugfixing
  client/package-lock.json
  client/src/messages/flashMock.ts
  user-client/package-lock.json
  user-client/src/tripHandler.ts
  vehicle-client/src/boardingHandler.ts
Due: azure-pipelines/vehicle-client-build.yml

changed logging
  client/src/logger.ts
  user-client/src/tripHandler.ts
  vehicle-client/src/boardingHandler.ts
Due: azure-pipelines/vehicle-client-build.yml

don't throw after trip started
  user-client/src/tripHandler.ts
  vehicle-client/src/boardingHandler.ts
Due: azure-pipelines/vehicle-client-build.yml

activate boarding before trip starting
  vehicle-mock/package-lock.json
  vehicle-mock/src/mover.ts
  vehicle-mock/src/observer.ts
  vehicle-mock/src/vehicle.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

integrate boarding in backend
  backend/package-lock.json
  backend/package.json
  backend/src/mockConstructor.ts
  backend/src/tripStarter.ts
  backend/src/users.ts
  backend/test/tripStarter.spec.ts
  vehicle-mock/test/mover.spec.ts
Due: azure-pipelines/vehicle-mock-build.yml

update balances on transaction
  backend/src/controller.ts
Due: none

Path conditions:
  azure-pipelines/frontend-showcase-vis-build.yml: any of: frontend-showcase-vis, azure-pipelines/frontend-showcase-vis-build.yml
  azure-pipelines/showcase-user-interface-build.yml: any of: showcase-user-interface
  azure-pipelines/vehicle-client-build.yml: any of: vehicle-client
  azure-pipelines/vehicle-mock-build.yml: any of: vehicle-mock
