Repository RaphaelManke/fzi-iota-showcase: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml, azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

azure-pipelines/frontend-showcase-vis-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/showcase-user-interface-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/vehicle-client-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/vehicle-mock-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

adjusted logging
  backend/src/tripStarter.ts
  user-client/src/userState.ts
  vehicle-client/src/boardingHandler.ts
Due: azure-pipelines/vehicle-client-build.yml

send price in tripStarted event
  vehicle-mock/src/observer.ts
  vehicle-mock/src/vehicle.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

send price from backend
  backend/src/events.ts
  backend/src/mockConstructor.ts
  vehicle-client/package-lock.json
Due: azure-pipelines/vehicle-client-build.yml

add vehicle type selection
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/showcase-user-interface-build.yml

add env param for setting log level
  backend/package-lock.json
  backend/src/controller.ts
  backend/src/main.ts
  backend/src/server.ts
  user-client/package-lock.json
  vehicle-client/package-lock.json
  vehicle-mock/package-lock.json
Due: azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

improve transaction visu
  backend/package-lock.json
  frontend-showcase-vis/src/components/EventList.vue
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

send creditsExausted if certain distance paid left
  vehicle-client/src/boardingHandler.ts
Due: azure-pipelines/vehicle-client-build.yml

added timestamping to transaction + events
  frontend-showcase-vis/package-lock.json
  frontend-showcase-vis/package.json
  frontend-showcase-vis/src/components/EventList.vue
  frontend-showcase-vis/src/stores/transactions/index.ts
  frontend-showcase-vis/src/stores/transactions/types.ts
  showcase-user-interface/package-lock.json
  showcase-user-interface/package.json
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/stores/events/index.ts
  showcase-user-interface/src/stores/events/types.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

refactor format iotas
  frontend-showcase-vis/src/components/EventList.vue
  frontend-showcase-vis/src/utils.ts
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/components/RouteSelection.vue
  showcase-user-interface/src/utils.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

prevent refresh route on destination reached
  showcase-user-interface/src/components/RouteObserver.vue
Due: azure-pipelines/showcase-user-interface-build.yml

add flash states
  client/src/messages/boarding.ts
  client/src/messages/flashMock.ts
  frontend-showcase-vis/package-lock.json
  showcase-user-interface/package-lock.json
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

fix build error frontend
  frontend-showcase-vis/src/utils.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

added function to adjust payment to changed stop
  user-client/package-lock.json
  user-client/src/tripHandler.ts
  vehicle-client/package-lock.json
  vehicle-client/src/boardingHandler.ts
Due: azure-pipelines/vehicle-client-build.yml

fix branch building
  user-client/src/tripHandler.ts
  vehicle-client/src/boardingHandler.ts
Due: azure-pipelines/vehicle-client-build.yml

integrate changing destination into trip starter
  backend/src/tripStarter.ts
  vehicle-client/src/boardingHandler.ts
  vehicle-mock/package-lock.json
  vehicle-mock/src/tripState.ts
  vehicle-mock/src/vehicle.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

remove time stamp from frontend visu
  frontend-showcase-vis/src/components/EventList.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

fixed payment on repriced route
  user-client/src/tripHandler.ts
  vehicle-client/src/boardingHandler.ts
Due: azure-pipelines/vehicle-client-build.yml

deactivate example tx in frontend
  frontend-showcase-vis/src/stores/transactions/index.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

added observing txs sent by vehicles
  vehicle-mock/src/observer.ts
  vehicle-mock/src/vehicle.ts
  vehicle-mock/src/vehicleMock.ts
  vehicle-mock/test/mover.spec.ts
Due: azure-pipelines/vehicle-mock-build.yml

log txs sent by vehicles
  backend/src/controller.ts
  backend/src/logger.ts
  backend/src/main.ts
  backend/src/mockConstructor.ts
  backend/src/tripStarter.ts
Due: none

adjusted vehicle type column width
  backend/package-lock.json
  showcase-user-interface/src/components/RouteSelection.vue
  vehicle-client/package-lock.json
  vehicle-mock/package-lock.json
Due: azure-pipelines/showcase-user-interface-build.yml, azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

flip tram image to please my inner monk
  frontend-showcase-vis/public/assets/images/tram.png
  showcase-user-interface/public/assets/images/tram.png
  tram-mock/package-lock.json
  tram-mock/package.json
  tram-mock/src/index.ts
  tram-mock/tsconfig.json
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

add bike and one more user
  backend/src/logger.ts
  backend/users.json
  backend/vehicles.json
Due: none

fixed bug when sending trip with impossible route
  backend/src/controller.ts
  backend/src/tripStarter.ts
Due: none

adjusted tooltip offsets
  frontend-showcase-vis/src/components/StopObject.vue
  frontend-showcase-vis/src/components/UserObject.vue
  frontend-showcase-vis/src/components/VehicleObject.vue
  showcase-user-interface/src/components/StopObject.vue
  showcase-user-interface/src/components/UserObject.vue
  showcase-user-interface/src/components/VehicleObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

add top/bottom padding in route selection form
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/showcase-user-interface-build.yml

hide scrollbar in route selection
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/showcase-user-interface-build.yml

made reading logs easier
  backend/src/logger.ts
Due: none

seperate boarding from start driving
  tram-mock/src/index.ts
  tram-mock/src/scheduleDescription.ts
  tram-mock/src/scheduleHandler.ts
  vehicle-mock/src/boarder.ts
  vehicle-mock/src/mover.ts
  vehicle-mock/src/vehicle.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

prepare supporting multiple boarders
  vehicle-mock/src/boarder.ts
  vehicle-mock/src/tripState.ts
  vehicle-mock/src/vehicle.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

fix multi user moving on others updates
  backend/package-lock.json
  showcase-user-interface/src/stores/user/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

remove start driving from start boarding
  vehicle-mock/src/boarder.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

add max reservations to vehicle mock
  backend/src/tripStarter.ts
  vehicle-mock/src/vehicle.ts
Due: azure-pipelines/vehicle-mock-build.yml

added driveStartingPolicy
  client/src/driveStartingPolicy.ts
  client/src/index.ts
  client/src/vehicle.ts
Due: none

implement driving policy onBoarding in vehicleMock
  vehicle-mock/package-lock.json
  vehicle-mock/src/boarder.ts
  vehicle-mock/src/vehicle.ts
  vehicle-mock/src/vehicleMock.ts
  vehicle-mock/test/mover.spec.ts
Due: azure-pipelines/vehicle-mock-build.yml

make vehicle public
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

introduce TanglePane
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/components/EventList.vue
  frontend-showcase-vis/src/components/TanglePanel.vue
  frontend-showcase-vis/src/stores/transactions/index.ts
  frontend-showcase-vis/src/stores/transactions/types.ts
  showcase-user-interface/src/components/RouteObserver.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

remove starting trip directly from backend
  backend/package.json
  backend/src/mockConstructor.ts
  backend/src/tripStarter.ts
  backend/src/vehicleImporter.ts
  tram-mock/src/scheduleHandler.ts
Due: none

only check in after trip if vehicle is not manual
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

implemented scheduled vehicles
  tram-mock/package-lock.json
  tram-mock/src/index.ts
  tram-mock/src/scheduleDescription.ts
  tram-mock/src/scheduleHandler.ts
Due: none

Path conditions:
  azure-pipelines/frontend-showcase-vis-build.yml: any of: frontend-showcase-vis, azure-pipelines/frontend-showcase-vis-build.yml
  azure-pipelines/showcase-user-interface-build.yml: any of: showcase-user-interface
  azure-pipelines/vehicle-client-build.yml: any of: vehicle-client
  azure-pipelines/vehicle-mock-build.yml: any of: vehicle-mock
