Repository RaphaelManke/fzi-iota-showcase: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml, azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

azure-pipelines/frontend-showcase-vis-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/showcase-user-interface-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/vehicle-client-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/vehicle-mock-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

implemented scheduled vehicles in backend
  backend/schedules.json
  backend/src/controller.ts
  backend/src/main.ts
  backend/src/tripStarter.ts
  backend/vehicles.json
Due: none

fixed bug on trip with intermediate stops
  backend/package-lock.json
  vehicle-mock/package-lock.json
  vehicle-mock/src/boarder.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

force mam ts to use powsrv without api_key
  vehicle-client/package-lock.json
  vehicle-client/package.json
  vehicle-client/src/checkInPublisher.ts
  vehicle-client/src/vehiclePublisher.ts
Due: azure-pipelines/vehicle-client-build.yml

add provider to args
  backend/package-lock.json
  backend/package.json
  backend/src/controller.ts
  backend/src/main.ts
  vehicle-mock/package-lock.json
Due: azure-pipelines/vehicle-mock-build.yml

add fallback to overwritten attachtotangle
  client/src/usePowSrv.ts
Due: none

use fallback att in backend
  backend/src/main.ts
  client/package-lock.json
  vehicle-client/package-lock.json
  vehicle-client/src/checkInPublisher.ts
  vehicle-client/src/vehiclePublisher.ts
Due: azure-pipelines/vehicle-client-build.yml

use fallback everywhere
  backend/src/controller.ts
  backend/src/users.ts
  vehicle-client/src/vehiclePublisher.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

fix package locks
  backend/package-lock.json
  tram-mock/package-lock.json
  user-client/package-lock.json
  vehicle-client/package-lock.json
  vehicle-mock/package-lock.json
Due: azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

use fallback in tests
  user-client/test/iota.ts
  vehicle-client/test/iota.ts
Due: azure-pipelines/vehicle-client-build.yml

package lock
  user-client/package-lock.json
  vehicle-client/package-lock.json
Due: azure-pipelines/vehicle-client-build.yml

added scheduler test
  tram-mock/src/scheduleHandler.ts
  tram-mock/test/mocha.opts
  tram-mock/test/scheduler.spec.ts
Due: none

add client to vehicle-mock dependencies
  vehicle-mock/package-lock.json
  vehicle-mock/package.json
Due: azure-pipelines/vehicle-mock-build.yml

add transitive dependencies to backend
  backend/package-lock.json
  backend/package.json
Due: none

sending checkOutMessage when starting trip
  tram-mock/package-lock.json
  tram-mock/package.json
  vehicle-mock/package-lock.json
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

specify all dependencies in backend
  backend/package-lock.json
  backend/package.json
Due: none

added check if user is at start of trip
  backend/package-lock.json
  backend/package.json
  backend/src/controller.ts
  backend/src/server.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

made stopTrip early dependent on user
  vehicle-mock/src/boarder.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

sending user whose trip to stop early in backend
  backend/src/controller.ts
  backend/src/server.ts
Due: none

rework transaction design
  backend/package-lock.json
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/components/TanglePanel.vue
  showcase-user-interface/src/stores/user/index.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

return more information on publishing
  client/src/vehicleReader.ts
  vehicle-client/src/checkInPublisher.ts
  vehicle-client/src/vehiclePublisher.ts
Due: azure-pipelines/vehicle-client-build.yml

add allowedDestinations to vehicleMock
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

check allowed destinations before boarding
  backend/package-lock.json
  vehicle-client/package-lock.json
  vehicle-mock/package-lock.json
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

make field writable
  backend/src/controller.ts
  client/package-lock.json
  client/src/messages/checkInMessage.ts
Due: none

add ability for multiple checkIns
  vehicle-mock/package-lock.json
  vehicle-mock/src/tripState.ts
  vehicle-mock/src/vehicle.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

add route list
  backend/package-lock.json
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/components/EventList.vue
  frontend-showcase-vis/src/components/RouteList.vue
  frontend-showcase-vis/src/components/TanglePanel.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

change TransactionIssued to Payment issued
  frontend-showcase-vis/src/stores/mapObjects/index.ts
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/stores/events/index.ts
  showcase-user-interface/src/stores/transactions/index.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

fix multi user progress ba update
  showcase-user-interface/src/stores/routes/index.ts
  showcase-user-interface/src/stores/routes/types.ts
Due: azure-pipelines/showcase-user-interface-build.yml

show vehicle name on UI event list
  showcase-user-interface/src/components/RouteObserver.vue
Due: azure-pipelines/showcase-user-interface-build.yml

backend allows multiple checkIns per vehicle
  backend/src/controller.ts
  backend/src/events.ts
  backend/src/logger.ts
  backend/src/mockConstructor.ts
  backend/src/router.ts
  backend/src/tripStarter.ts
  backend/src/vehicleInfo.ts
  tram-mock/src/scheduleHandler.ts
  vehicle-client/package-lock.json
Due: azure-pipelines/vehicle-client-build.yml

prepare wait for vehicle
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/showcase-user-interface-build.yml

fix progress bar updating wrong
  backend/package-lock.json
  showcase-user-interface/src/stores/routes/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

fix bug in chosing right checkIn
  backend/package-lock.json
  backend/src/controller.ts
  backend/src/tripStarter.ts
  vehicle-mock/package-lock.json
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

add check for right checkIn
  backend/src/controller.ts
Due: none

added departed notification to mock
  vehicle-mock/src/observer.ts
  vehicle-mock/src/vehicle.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

fixed allowed destinations
  tram-mock/src/scheduleHandler.ts
Due: none

added departed event in backend
  backend/src/controller.ts
  backend/src/events.ts
  backend/src/logger.ts
  backend/src/mockConstructor.ts
  backend/src/server.ts
Due: none

fixed test
  vehicle-mock/test/mover.spec.ts
Due: azure-pipelines/vehicle-mock-build.yml

added example for cross store
  showcase-user-interface/src/stores/mapObjects/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

distribute iotas
  backend/src/distribute_iota.js
  backend/src/seeds.json
Due: none

fix user state mixing
  backend/package-lock.json
  showcase-user-interface/src/stores/mapObjects/index.ts
  showcase-user-interface/src/stores/routes/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

Path conditions:
  azure-pipelines/frontend-showcase-vis-build.yml: any of: frontend-showcase-vis, azure-pipelines/frontend-showcase-vis-build.yml
  azure-pipelines/showcase-user-interface-build.yml: any of: showcase-user-interface
  azure-pipelines/vehicle-client-build.yml: any of: vehicle-client
  azure-pipelines/vehicle-mock-build.yml: any of: vehicle-mock
