Repository RaphaelManke/fzi-iota-showcase: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml, azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

azure-pipelines/frontend-showcase-vis-build.yml:

#
#
#

variables:
  app_path: frontend-showcase-vis
  app_name: Frontend showcase visulization

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'frontend-showcase-vis/*'
    - 'azure-pipelines/frontend-showcase-vis-build.yml'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/showcase-user-interface-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  groups: dockerRegistry
  app_path: showcase-user-interface
  app_name: Showcase user-interface

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'showcase-user-interface/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/vehicle-client-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  app_path: vehicle-client
  app_name: Vehicle Client

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'vehicle-client/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/vehicle-mock-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  app_path: vehicle-mock
  app_name: Vehicle mock

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'vehicle-mock/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

change title and icon
  frontend-showcase-vis/public/favicon.ico
  showcase-user-interface/public/favicon.ico
  showcase-user-interface/public/index.html
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

style for tablet
  showcase-user-interface/src/App.vue
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/showcase-user-interface-build.yml

ignore f*** typescript
  showcase-user-interface/src/stores/routes/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

transfer funds to vehicles from master seed
  backend/src/controller.ts
  backend/src/main.ts
  vehicle-mock/src/tripState.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

make fullscreen app
  showcase-user-interface/public/index.html
  showcase-user-interface/public/manifest.json
Due: azure-pipelines/showcase-user-interface-build.yml

construct real trustee seed/address
  client/src/messages/flashMock.ts
  user-client/src/userState.ts
  vehicle-mock/src/boarder.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

fix import
  client/src/messages/flashMock.ts
Due: none

add screenshots
  backend/package-lock.json
  screenshots/resume.png
  screenshots/select.png
  screenshots/trip.png
  screenshots/waiting.png
Due: none

added channels diagram
  docs/channels.drawio
  docs/channels.svg
Due: none

add license
  LICENSE
  backend/package.json
  client/package.json
  frontend-showcase-vis/package.json
  showcase-user-interface/package.json
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

bugfix
  client/src/messages/flashMock.ts
Due: none

update github page
  docs/screenshots/resume.png
  docs/screenshots/select.png
  docs/screenshots/trip.png
  docs/screenshots/waiting.png
  docs/showcase.md
Due: none

fix image
  docs/showcase.md
Due: none

fix image 2
  docs/showcase.md
Due: none

add more images to showcase.md
  docs/showcase.md
Due: none

add basic readme
  README.md
  backend/package-lock.json
  vehicle-client/package-lock.json
  vehicle-mock/package-lock.json
Due: azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

typo
  docs/showcase.md
Due: none

create real bundle to attach
  backend/src/controller.ts
  backend/src/users.ts
  client/src/messages/flashMock.ts
  vehicle-client/src/checkInPublisher.ts
Due: azure-pipelines/vehicle-client-build.yml

enable making opening/closing tx
  backend/moveFundsBack.ts
  backend/src/users.ts
  client/src/messages/flashMock.ts
  user-client/package-lock.json
  user-client/src/tripHandler.ts
  user-client/src/userState.ts
  vehicle-client/src/boardingHandler.ts
  vehicle-mock/package-lock.json
  vehicle-mock/src/boarder.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

attempt to fix
  client/src/messages/flashMock.ts
  vehicle-client/src/checkInPublisher.ts
Due: azure-pipelines/vehicle-client-build.yml

added transaction issued event
  backend/src/events.ts
  backend/src/logger.ts
  backend/src/server.ts
Due: none

fix event declaration
  backend/src/events.ts
  backend/src/mockConstructor.ts
Due: none

use address of departed message
  backend/src/events.ts
  backend/src/mockConstructor.ts
  backend/test/router.spec.ts
  backend/test/tripStarter.spec.ts
  client/package-lock.json
  client/package.json
  vehicle-mock/src/observer.ts
  vehicle-mock/src/vehicle.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

use new raam client
  backend/src/mockConstructor.ts
  client/package-lock.json
  client/package.json
  client/src/messages/flashMock.ts
Due: none

return whole bundle
  vehicle-client/package-lock.json
  vehicle-client/src/checkInPublisher.ts
  vehicle-client/src/checkOutPublisher.ts
  vehicle-client/src/vehiclePublisher.ts
Due: azure-pipelines/vehicle-client-build.yml

read bundle of departed message
  backend/package-lock.json
  vehicle-mock/package-lock.json
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

send address on making deposit
  user-client/src/tripHandler.ts
  vehicle-client/package-lock.json
  vehicle-client/src/boardingHandler.ts
Due: azure-pipelines/vehicle-client-build.yml

renaming bundle hash
  client/package-lock.json
  client/package.json
  client/src/messages/flashMock.ts
  vehicle-client/package-lock.json
  vehicle-client/src/boardingHandler.ts
Due: azure-pipelines/vehicle-client-build.yml

fix package lock
  user-client/package-lock.json
  vehicle-client/package-lock.json
Due: azure-pipelines/vehicle-client-build.yml

extended welcome page
  docs/images/open-mobility-marketplace.jpg
  docs/index.md
Due: none

add callback on closing transaction
  vehicle-mock/package-lock.json
  vehicle-mock/src/boarder.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

fix package lock
  user-client/package-lock.json
  vehicle-mock/package-lock.json
Due: azure-pipelines/vehicle-mock-build.yml

package lock
  tram-mock/package-lock.json
Due: none

adjusted test times
  tram-mock/test/scheduler.spec.ts
Due: none

changed project name to open mobility marketplace #81
  docs/_config.yml
  docs/index.md
Due: none

test sonarqube for build
  azure-pipelines/jobs/build-node.yml
  azure-pipelines/steps/sonarqube.yml
  sonar-project.properties
Due: none

reorder steps
  azure-pipelines/steps/sonarqube.yml
Due: none

modified sonarqube steps
  azure-pipelines/steps/sonarqube.yml
Due: none

fixed duplicated key
  azure-pipelines/steps/sonarqube.yml
Due: none
