Repository RaphaelManke/fzi-iota-showcase: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml, azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

azure-pipelines/frontend-showcase-vis-build.yml:

#
#
#

variables:
  app_path: frontend-showcase-vis
  app_name: Frontend showcase visulization

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'frontend-showcase-vis/*'
    - 'azure-pipelines/frontend-showcase-vis-build.yml'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/showcase-user-interface-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  groups: dockerRegistry
  app_path: showcase-user-interface
  app_name: Showcase user-interface

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'showcase-user-interface/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/vehicle-client-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  app_path: vehicle-client
  app_name: Vehicle Client

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'vehicle-client/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/vehicle-mock-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  app_path: vehicle-mock
  app_name: Vehicle mock

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'vehicle-mock/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

added chainedMessageBuilder for metaInfo channel (#13)
  client/package-lock.json
  client/package.json
  client/src/chainedMessageBuilder.ts
  client/src/index.ts
  vehicle-client/package-lock.json
  vehicle-client/package.json
  vehicle-client/src/vehiclePublisher.ts
Due: azure-pipelines/vehicle-client-build.yml

factored out test
  vehicle-client/src/vehiclePublisher.ts
  vehicle-client/tests/testPublishVehicle.ts
Due: azure-pipelines/vehicle-client-build.yml

moved readVehicle to client (#13)
  client/src/index.ts
  client/src/vehicleReader.ts
  vehicle-client/src/vehiclePublisher.ts
  vehicle-client/tests/testPublishVehicle.ts
Due: azure-pipelines/vehicle-client-build.yml

added stop id to welcome message
  client/src/stopWelcomeMessage.ts
  docs/basic-model.md
  vehicle-client/src/vehiclePublisher.ts
  vehicle-client/tests/testPublishVehicle.ts
Due: azure-pipelines/vehicle-client-build.yml

refactor builds
  azure-pipelines/backend-build.yml
  azure-pipelines/client-build.yml
  azure-pipelines/frontend-showcase-vis-build.yml
  azure-pipelines/jobs/build-lib.yml
  azure-pipelines/jobs/build-node.yml
  azure-pipelines/jobs/build-vue.yml
  azure-pipelines/showcase-user-interface-build.yml
  azure-pipelines/steps/npm.yml
  azure-pipelines/tram-mock-build.yml
  azure-pipelines/user-client-build.yml
  azure-pipelines/vehicle-client-build.yml
  azure-pipelines/vehicle-mock-build.yml
Due: azure-pipelines/frontend-showcase-vis-build.yml

added description for using local npm packages
  docs/setup_npm.md
Due: none

updated packages
  backend/package.json
  tram-mock/package.json
  user-client/package.json
  vehicle-mock/package.json
Due: azure-pipelines/vehicle-mock-build.yml

try to fix login
  azure-pipelines/steps/npm.yml
Due: none

used publish from webui
  azure-pipelines/steps/npm.yml
Due: none

fixed auth
  client/.npmrc
Due: none

changed feed to uuid
  azure-pipelines/steps/npm.yml
  client/.npmrc
Due: none

added login command
  azure-pipelines/steps/npm.yml
Due: none

added mocha test
  vehicle-client/package-lock.json
  vehicle-client/package.json
  vehicle-client/src/vehiclePublisher.ts
  vehicle-client/tests/publishVehicle.spec.ts
Due: azure-pipelines/vehicle-client-build.yml

test build without .npmrc file
  client/.npmrc
Due: none

removed redundand login command
  azure-pipelines/steps/npm.yml
Due: none

removed publish repository fro package.json
  client/package.json
Due: none

changed to custom command
  azure-pipelines/steps/npm.yml
Due: none

update package
  client/package-lock.json
  client/package.json
Due: none

add test
  azure-pipelines/jobs/build-lib.yml
Due: none

INDENTION FIXED
  azure-pipelines/jobs/build-lib.yml
Due: none

added publish artifact
  azure-pipelines/jobs/build-lib.yml
Due: none

add pack task
  azure-pipelines/jobs/build-lib.yml
Due: none

updated model
  docs/basic-model.md
  docs/use-cases.md
Due: none

adjusted model classes
  client/src/index.ts
  client/src/messages/checkInMessage.ts
  client/src/messages/reservationMessage.ts
  client/src/messages/stopWelcomeMessage.ts
  client/src/reservation.ts
  client/src/reservationMessage.ts
  client/src/stopWelcomeMessage.ts
  client/src/trip.ts
  client/src/vehicle.ts
  client/src/vehicleReader.ts
  docs/basic-model.md
  docs/use-cases.md
Due: none

added generation for collision free subseeds (#14)
  vehicle-client/src/explode.ts
  vehicle-client/src/seeds.ts
  vehicle-client/src/vehiclePublisher.ts
Due: azure-pipelines/vehicle-client-build.yml

added docs for seed generation (#14)
  docs/seed-management.md
  docs/seeds.svg
  docs/seeds.xml
  vehicle-client/src/explode.ts
  vehicle-client/src/seeds.ts
Due: azure-pipelines/vehicle-client-build.yml

update version number of raam client
  client/package-lock.json
  client/package.json
  vehicle-client/package-lock.json
  vehicle-client/package.json
Due: azure-pipelines/vehicle-client-build.yml

added capacity checking for seeds (fix #14)
  vehicle-client/package-lock.json
  vehicle-client/package.json
  vehicle-client/src/seeds.ts
  vehicle-client/src/vehiclePublisher.ts
  vehicle-client/tests/seeds.spec.ts
Due: azure-pipelines/vehicle-client-build.yml

added addMetaInfo (#12)
  vehicle-client/src/vehiclePublisher.ts
Due: azure-pipelines/vehicle-client-build.yml

expanded seed test
  vehicle-client/tests/seeds.spec.ts
Due: azure-pipelines/vehicle-client-build.yml

added seed test
  vehicle-client/src/seeds.ts
  vehicle-client/tests/seeds.spec.ts
Due: azure-pipelines/vehicle-client-build.yml

reorder functions
  vehicle-client/src/vehiclePublisher.ts
Due: azure-pipelines/vehicle-client-build.yml

renamed file
  client/src/index.ts
  client/src/usePowSrv.ts
Due: none

simple gui pre-version
  frontend-showcase-vis/package.json
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/assets/car.png
  frontend-showcase-vis/src/assets/lawn.jpg
  frontend-showcase-vis/src/components/BasicPanel.vue
  frontend-showcase-vis/src/components/GridElement.vue
  frontend-showcase-vis/src/components/GridMap.vue
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/components/Vehicle.vue
  frontend-showcase-vis/src/components/VehicleSpace.vue
  package-lock.json
Due: azure-pipelines/frontend-showcase-vis-build.yml

added test dependencies
  client/package-lock.json
  client/package.json
Due: none

added build command
  azure-pipelines/jobs/build-lib.yml
Due: none

added event bus to frontend
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/components/EventList.vue
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/components/Vehicle.vue
  frontend-showcase-vis/src/components/VehicleSpace.vue
  frontend-showcase-vis/src/events.ts
  frontend-showcase-vis/src/main.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

merged changes
  frontend-showcase-vis/src/components/VehicleSpace.vue
  frontend-showcase-vis/src/main.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

event list added
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/components/EventList.vue
  frontend-showcase-vis/src/components/MapVisu.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml
