Repository RaphaelManke/fzi-iota-showcase: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml, azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

azure-pipelines/frontend-showcase-vis-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/showcase-user-interface-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/vehicle-client-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/vehicle-mock-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

added test to backend build
  azure-pipelines/backend-build.yml
  azure-pipelines/jobs/build-node.yml
  azure-pipelines/steps/npm-publish.yml
  azure-pipelines/steps/npm-test.yml
  azure-pipelines/steps/npm.yml
Due: none

integrate onClosingTransaction into backend
  backend/package-lock.json
  backend/src/tripStarter.ts
Due: none

Auto stash before merge of "master" and "origin/master"
  backend/package-lock.json
  backend/package.json
  backend/test/router.spec.ts
Due: none

modified prettier setting
  .vscode/settings.json
Due: none

bugfix emit departed event
  backend/package-lock.json
  backend/src/mockConstructor.ts
Due: none

modified sonarque settings
  azure-pipelines/steps/sonarqube.yml
  sonar-project.properties
Due: none

reduce search depth
  azure-pipelines/steps/sonarqube.yml
Due: none

changed search path for sonarqube
  azure-pipelines/steps/sonarqube.yml
Due: none

don't send tx if vehicle doesn't move
  backend/src/logger.ts
  backend/src/mockConstructor.ts
  user-client/package-lock.json
  user-client/src/tripHandler.ts
  vehicle-client/package-lock.json
Due: azure-pipelines/vehicle-client-build.yml

remove sonarqube
  azure-pipelines/jobs/build-node.yml
Due: none

added nyc config
  backend/package.json
Due: none

remove boarder from trip on cancel boarding
  vehicle-mock/package-lock.json
  vehicle-mock/src/boarder.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

adjust logging of boarding
  backend/package-lock.json
  backend/package.json
  backend/src/tripStarter.ts
  user-client/src/tripHandler.ts
  vehicle-client/src/boardingHandler.ts
Due: azure-pipelines/vehicle-client-build.yml

remove observer if boarding cancelled
  backend/package-lock.json
  vehicle-mock/package-lock.json
  vehicle-mock/src/boarder.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

emit BoardingCancelled event
  backend/src/controller.ts
  backend/src/events.ts
  backend/src/logger.ts
Due: none

confirm user cancel boarding
  backend/package-lock.json
  vehicle-client/src/boardingHandler.ts
Due: azure-pipelines/vehicle-client-build.yml

adjust cancellation message
  vehicle-client/src/boardingHandler.ts
Due: azure-pipelines/vehicle-client-build.yml

extracting cancellation message
  backend/package-lock.json
  backend/src/controller.ts
  vehicle-client/src/boardingHandler.ts
  vehicle-mock/package-lock.json
Due: azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

use tag of version
  backend/package-lock.json
  backend/package.json
Due: none

fix address schema
  backend/moveFundsBack.ts
  backend/package-lock.json
  backend/src/controller.ts
  user-client/package-lock.json
  vehicle-mock/src/tripState.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

format iota in header
  backend/package-lock.json
  showcase-user-interface/src/App.vue
Due: azure-pipelines/showcase-user-interface-build.yml

stop vehicle if credits exausted
  vehicle-mock/src/boarder.ts
  vehicle-mock/src/mover.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

show transactions
  backend/package-lock.json
  client/package-lock.json
  frontend-showcase-vis/src/components/TanglePanel.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

add submitting popover
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/showcase-user-interface-build.yml

Auto stash before merge of "master" and "origin/master"
  .gitignore
  deployment/.env.example
  deployment/docker-compose.yml
  deployment/traefik/traefik.toml
  frontend-showcase-vis/vue.config.js
  showcase-user-interface/vue.config.js
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

fix boarding cancelled message
  backend/src/controller.ts
  showcase-user-interface/public/index.html
  showcase-user-interface/public/manifest.json
Due: azure-pipelines/showcase-user-interface-build.yml

center popover content
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/showcase-user-interface-build.yml

add setup for private test tangle
  backend/moveFundsBack.ts
  private-tangle/.gitignore
  private-tangle/docker-compose.yml
  private-tangle/snapshot.txt
Due: none

enable remote pow
  private-tangle/docker-compose.yml
Due: none

add tangle visu to repo
  backend/distribute_iota.js
  tangle-visu/index.html
  tangle-visu/index.js
  tangle-visu/package-lock.json
  tangle-visu/package.json
  tangle-visu/socket.io.js
  tangle-visu/vivagraph.min.js
Due: none

added reverse proxy
  deployment/docker-compose.yml
  deployment/osm-bright.json
  deployment/traefik/certs/ssl.crt
  deployment/traefik/certs/ssl.key
  deployment/traefik/traefik.toml
Due: none

removed path
  frontend-showcase-vis/vue.config.js
  showcase-user-interface/vue.config.js
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

make osm url configurable
  backend/distribute_iota.js
  frontend-showcase-vis/.env.development
  frontend-showcase-vis/.env.production
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/main.ts
  showcase-user-interface/.env.development
  showcase-user-interface/.env.production
  showcase-user-interface/src/components/MapVisu.vue
  showcase-user-interface/src/main.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

give peter and emma qr codes
  backend/config/users.json
  backend/seedsQR/EWRTZJHGSDGTRHNGVDISUGHIFVDJFERHUFBGRZEUFSDHFEGBRVHISDJIFUBUHVFDSHFUERIBUJHDRGBCG.svg
  backend/seedsQR/NFTRKXZHCJUUSMBCRSHMHHHDBKNKQQFOWZZQXXIUXKIDJPUGEEZJPEROMAFKBA9XWZUJUURGT9YFXXYEQ.svg
  backend/seedsQR/seed_to_QR.py
Due: none

add emmas and peters seed to seeds
  backend/seeds.json
Due: none

make mwm configurable
  backend/config/vehicles.json
  backend/moveFundsBack.ts
  backend/src/controller.ts
  backend/src/main.ts
  backend/src/mockConstructor.ts
  backend/src/users.ts
  private-tangle/docker-compose.yml
  tangle-visu/index.js
  user-client/src/tripHandler.ts
  vehicle-client/src/checkInPublisher.ts
  vehicle-client/src/checkOutPublisher.ts
  vehicle-client/src/reservationPublisher.ts
  vehicle-client/src/vehiclePublisher.ts
  vehicle-mock/package-lock.json
  vehicle-mock/src/tripState.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

fix test
  backend/test/tripStarter.spec.ts
Due: none

fix gap on frontend
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/components/RouteList.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

rename route list
  frontend-showcase-vis/src/components/RouteList.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

make font-size relative in frontend
  frontend-showcase-vis/src/App.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

Path conditions:
  azure-pipelines/frontend-showcase-vis-build.yml: any of: frontend-showcase-vis, azure-pipelines/frontend-showcase-vis-build.yml
  azure-pipelines/showcase-user-interface-build.yml: any of: showcase-user-interface
  azure-pipelines/vehicle-client-build.yml: any of: vehicle-client
  azure-pipelines/vehicle-mock-build.yml: any of: vehicle-mock
