Repository RaphaelManke/fzi-iota-showcase: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml, azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

azure-pipelines/frontend-showcase-vis-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/showcase-user-interface-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/vehicle-client-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/vehicle-mock-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

refactor simple backend
  backend/package-lock.json
  backend/tests/simple.ts
Due: none

implemented stopping before destination
  backend/tests/simple.ts
  vehicle-mock/src/mover.ts
Due: azure-pipelines/vehicle-mock-build.yml

removed old simulation classes
  backend/src/server.ts
  backend/tests/simple.ts
Due: none

added minimal state
  backend/package-lock.json
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/main.ts
  frontend-showcase-vis/src/stores/mapObjects.ts
  frontend-showcase-vis/src/stores/store.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

refactor to vuex store
  backend/package-lock.json
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/components/StateTable.vue
  frontend-showcase-vis/src/components/StopObject.vue
  frontend-showcase-vis/src/components/UserObject.vue
  frontend-showcase-vis/src/components/VehicleObject.vue
  frontend-showcase-vis/src/stores/mapObjects.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

fix undefined error on load
  frontend-showcase-vis/src/stores/mapObjects.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

Auto stash before merge of "master" and "origin/master"
  frontend-showcase-vis/src/components/MapObject.vue
  frontend-showcase-vis/src/components/MapVisu.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

changed connection acccess
  frontend-showcase-vis/src/components/MapVisu.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

extended vuex integration
  frontend-showcase-vis/src/components/MapObject.vue
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/stores/mapObjects.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

getter fixed
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/stores/mapObjects.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

fix lint warnings
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/components/StateTableObject.vue
  frontend-showcase-vis/src/components/StopObject.vue
  frontend-showcase-vis/src/components/UserObject.vue
  frontend-showcase-vis/src/components/VehicleObject.vue
  frontend-showcase-vis/src/stores/mapObjects.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

added some position manipulation for testing
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/components/StopObject.vue
  frontend-showcase-vis/src/components/UserObject.vue
  frontend-showcase-vis/src/stores/mapObjects.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

fixed typo
  frontend-showcase-vis/src/components/StopObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

stop object directly get data from vuex
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/components/StopObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

clean code
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/components/StopObject.vue
  frontend-showcase-vis/src/stores/mapObjects.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

fix socket not sending events
  backend/src/server.ts
Due: none

fixed socket not sending events
  backend/src/server.ts
Due: none

updated PosUpdated event
  frontend-showcase-vis/src/App.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

connect vuex store directely to socket events
  frontend-showcase-vis/src/stores/mapObjects.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

fix getting real event data
  frontend-showcase-vis/src/stores/mapObjects.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

remove unnecessary event subscribtion
  frontend-showcase-vis/src/App.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

make vehicle move on socket events
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/components/StopObject.vue
  frontend-showcase-vis/src/components/VehicleObject.vue
  frontend-showcase-vis/src/stores/mapObjects.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

clean up code
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/components/StateTableObject.vue
  frontend-showcase-vis/src/components/StopObject.vue
  frontend-showcase-vis/src/components/UserObject.vue
  frontend-showcase-vis/src/components/VehicleObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

fixed test route
  backend/tests/simple.ts
Due: none

fix zoom and transition speed
  frontend-showcase-vis/src/components/MapVisu.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

linting
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/components/MapObject.vue
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/components/StateTable.vue
  frontend-showcase-vis/src/components/StateTableObject.vue
  frontend-showcase-vis/src/components/UserObject.vue
  frontend-showcase-vis/src/components/VehicleObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

added formamating on save
  .vscode/extensions.json
  .vscode/settings.json
  frontend-showcase-vis/.vscode/settings.json
  frontend-showcase-vis/src/components/UserObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

set default tab size
  .vscode/settings.json
  vehicle-mock/src/mover.ts
Due: azure-pipelines/vehicle-mock-build.yml

remove MapObject component
  frontend-showcase-vis/src/components/MapObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

add auth property to checkIn message (#17)
  client/src/messages/checkInMessage.ts
  client/test/message.spec.ts
Due: none

add hashedNonce to trip (#17)
  client/src/trip.ts
  docs/use-cases.md
Due: none

reading checkInMessage with hashedNonce (#17)
  user-client/src/stopReader.ts
  user-client/test/stopReader.spec.ts
Due: none

added hashedNonce to vehicleClient test (#17)
  vehicle-client/test/checkInPublisher.spec.ts
Due: azure-pipelines/vehicle-client-build.yml

add vehicles to state table
  frontend-showcase-vis/public/assets/images/tram.png
  frontend-showcase-vis/src/components/StateTable.vue
  frontend-showcase-vis/src/components/StateTableObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

make vehicle icon dynamic
  frontend-showcase-vis/src/components/VehicleObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

make cehicle icon dynamic
  frontend-showcase-vis/src/components/VehicleObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

Update seed-management.md
  docs/seed-management.md
Due: none

make vscode fix all problemshopefully
  .vscode/settings.json
  frontend-showcase-vis/.eslintrc.js
  frontend-showcase-vis/.vscode/settings.json
  frontend-showcase-vis/package-lock.json
  frontend-showcase-vis/package.json
  frontend-showcase-vis/postcss.config.js
  frontend-showcase-vis/tslint_old.json_w
Due: azure-pipelines/frontend-showcase-vis-build.yml

added extension to recommednded section
  .vscode/extensions.json
Due: none

Path conditions:
  azure-pipelines/frontend-showcase-vis-build.yml: any of: frontend-showcase-vis, azure-pipelines/frontend-showcase-vis-build.yml
  azure-pipelines/showcase-user-interface-build.yml: any of: showcase-user-interface
  azure-pipelines/vehicle-client-build.yml: any of: vehicle-client
  azure-pipelines/vehicle-mock-build.yml: any of: vehicle-mock
