Repository RaphaelManke/fzi-iota-showcase: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml, azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

azure-pipelines/frontend-showcase-vis-build.yml:

#
#
#

variables:
  app_path: frontend-showcase-vis
  app_name: Frontend showcase visulization

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'frontend-showcase-vis/*'
    - 'azure-pipelines/frontend-showcase-vis-build.yml'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/showcase-user-interface-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  groups: dockerRegistry
  app_path: showcase-user-interface
  app_name: Showcase user-interface

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'showcase-user-interface/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/vehicle-client-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  app_path: vehicle-client
  app_name: Vehicle Client

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'vehicle-client/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/vehicle-mock-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  app_path: vehicle-mock
  app_name: Vehicle mock

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'vehicle-mock/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

adjust test timeout
  vehicle-client/test/checkInPublisher.spec.ts
Due: azure-pipelines/vehicle-client-build.yml

added exports
  vehicle-client/src/index.ts
Due: azure-pipelines/vehicle-client-build.yml

add main
  vehicle-client/package-lock.json
  vehicle-client/package.json
Due: azure-pipelines/vehicle-client-build.yml

fixed tsconfig
  user-client/tsconfig.json
  vehicle-client/tsconfig.json
Due: azure-pipelines/vehicle-client-build.yml

fixed export error
  vehicle-client/src/vehiclePublisher.ts
Due: azure-pipelines/vehicle-client-build.yml

fixed checkIn query
  client/src/checkInReader.ts
  vehicle-client/test/checkInPublisher.spec.ts
Due: azure-pipelines/vehicle-client-build.yml

added type annotations
  vehicle-client/src/vehiclePublisher.ts
Due: azure-pipelines/vehicle-client-build.yml

added stopReader test
  user-client/package-lock.json
  user-client/package.json
  user-client/src/stopReader.ts
  user-client/test/iota.ts
  user-client/test/stopReader.spec.ts
  vehicle-client/package-lock.json
Due: azure-pipelines/vehicle-client-build.yml

use generic address in stopReader test
  user-client/test/stopReader.spec.ts
Due: none

use node 10 everywhere
  azure-pipelines/jobs/build-lib.yml
  azure-pipelines/jobs/build-node.yml
  azure-pipelines/jobs/build-vue.yml
Due: none

fixed typo of death
  user-client/package-lock.json
  user-client/test/stopReader.spec.ts
Due: none

added assertions for stopReader test
  user-client/src/stopReader.ts
  user-client/test/stopReader.spec.ts
Due: none

added date param to stopReader
  client/src/checkInReader.ts
  user-client/src/stopReader.ts
  user-client/test/stopReader.spec.ts
Due: none

added non expired reservation test
  user-client/test/stopReader.spec.ts
Due: none

added more test for stopReader
  client/src/trip.ts
  user-client/test/stopReader.spec.ts
Due: none

added test with expired reservation
  client/src/checkInReader.ts
  user-client/src/stopReader.ts
  user-client/test/stopReader.spec.ts
Due: none

added validUntil to checkInMessage
  client/src/messages/checkInMessage.ts
  client/test/message.spec.ts
Due: none

check validFrom/Until in stopReader
  user-client/src/stopReader.ts
Due: none

grid connection init
  frontend-showcase-vis/src/assets/street_hor.png
  frontend-showcase-vis/src/assets/street_upleft.png
  frontend-showcase-vis/src/assets/street_upright.png
  frontend-showcase-vis/src/assets/street_vert.png
  frontend-showcase-vis/src/components/Connection.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

clean out code
  frontend-showcase-vis/src/assets/lawn.jpg
  frontend-showcase-vis/src/assets/logo.png
  frontend-showcase-vis/src/assets/street_hor.png
  frontend-showcase-vis/src/assets/street_upleft.png
  frontend-showcase-vis/src/assets/street_upright.png
  frontend-showcase-vis/src/assets/street_vert.png
  frontend-showcase-vis/src/components/BasicPanel.vue
  frontend-showcase-vis/src/components/Connection.vue
  frontend-showcase-vis/src/components/HelloWorld.vue
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/components/Vehicle.vue
  frontend-showcase-vis/src/components/VehicleSpace.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

add custom date param in publishCheckIn
  vehicle-client/package-lock.json
  vehicle-client/src/checkInPublisher.ts
Due: azure-pipelines/vehicle-client-build.yml

added more stopReader tests
  user-client/package-lock.json
  user-client/src/stopReader.ts
  user-client/test/stopReader.spec.ts
Due: none

increase test timeout
  user-client/package-lock.json
  user-client/test/stopReader.spec.ts
Due: none

increased timeout even more
  user-client/test/stopReader.spec.ts
Due: none

cleaned imports
  user-client/test/stopReader.spec.ts
Due: none

put simple map example in place
  frontend-showcase-vis/package-lock.json
  frontend-showcase-vis/package.json
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/main.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

test forged message protection
  user-client/src/stopReader.ts
  user-client/test/stopReader.spec.ts
Due: none

enable devnet testing again
  user-client/src/stopReader.ts
  user-client/test/stopReader.spec.ts
  vehicle-client/test/checkInPublisher.spec.ts
  vehicle-client/test/publishVehicle.spec.ts
Due: azure-pipelines/vehicle-client-build.yml

custom objects on the OSM
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/components/EventList.vue
  frontend-showcase-vis/src/components/MapObject.vue
  frontend-showcase-vis/src/components/MapVisu.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

move assets to public
  frontend-showcase-vis/public/assets/car.png
Due: azure-pipelines/frontend-showcase-vis-build.yml

make car move on events
  frontend-showcase-vis/src/components/MapObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

fix resize problem on event list
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/components/EventList.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

init geoJson
  frontend-showcase-vis/src/assets/geojson/geojson.js
  frontend-showcase-vis/src/assets/images/car.png
  frontend-showcase-vis/src/components/MapVisu.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

fix Vue warning
  frontend-showcase-vis/src/components/MapObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

ui fix events
  frontend-showcase-vis/src/components/EventList.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

fix geojson inverted coordinates
  frontend-showcase-vis/public/assets/geojson/geojson.js
  frontend-showcase-vis/public/assets/images/car.png
  frontend-showcase-vis/src/assets/geojson/geojson.js
  frontend-showcase-vis/src/assets/images/car.png
  frontend-showcase-vis/src/components/EventList.vue
  frontend-showcase-vis/src/components/MapObject.vue
  frontend-showcase-vis/src/components/MapVisu.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

stop auto scroll events when mouse on
  frontend-showcase-vis/src/components/EventList.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

add type property to map object
  frontend-showcase-vis/src/components/MapObject.vue
  frontend-showcase-vis/src/components/MapVisu.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

add custom iota color styling
  frontend-showcase-vis/src/components/MapObject.vue
  frontend-showcase-vis/src/components/MapVisu.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

make transitions smooth
  frontend-showcase-vis/src/components/MapVisu.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml
