Repository RaphaelManke/fzi-iota-showcase: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

azure-pipelines/frontend-showcase-vis-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  app_path: frontend-showcase-vis
  app_name: Frontend showcase visulization

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'frontend-showcase-vis/*'

pool:
  vmImage: 'Ubuntu-16.04'



steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '8.x'
    displayName: 'Install Node.js'

  - script: |
      npm install
      npm run build
    workingDirectory: $(app_path)
    displayName: 'npm install and build'

azure-pipelines/showcase-user-interface-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  groups: dockerRegistry
  app_path: showcase-user-interface
  app_name: Showcase user-interface

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'showcase-user-interface/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

use docker task instead of script
  azure-pipelines/jobs/build.yml
Due: none

hard code trigger
  azure-pipelines/frontend-showcase-vis-build.yml
Due: none

trigger build
  frontend-showcase-vis/test_pipeline.txt
Due: azure-pipelines/frontend-showcase-vis-build.yml

added docker logout
  azure-pipelines/jobs/build.yml
Due: none

correct path for better triggering
  azure-pipelines/frontend-showcase-vis-build.yml
Due: none

paths can not be variable
  azure-pipelines/frontend-showcase-vis-build.yml
Due: none

path for trigger fixed
  azure-pipelines/backend-build.yml
  azure-pipelines/client-build.yml
  azure-pipelines/frontend-showcase-vis-build.yml
  azure-pipelines/tram-mock-build.yml
  azure-pipelines/user-client-build.yml
  azure-pipelines/vehicle-client-build.yml
  azure-pipelines/vehicle-mock-build.yml
Due: none

test new app name
  azure-pipelines/frontend-showcase-vis-build.yml
Due: none

get docker info from env
  azure-pipelines/jobs/build.yml
Due: none

read docker from env
  azure-pipelines/jobs/build.yml
Due: none

minor change
  azure-pipelines/frontend-showcase-vis-build.yml
  azure-pipelines/showcase-user-interface-build.yml
Due: none

added tooling for local building
  frontend-showcase-vis/Makefile
  frontend-showcase-vis/tools/Makefile.docker-compose
  frontend-showcase-vis/tools/config.env
  frontend-showcase-vis/tools/deploy.env
  frontend-showcase-vis/tools/usage.sh
  frontend-showcase-vis/tools/version.sh
Due: azure-pipelines/frontend-showcase-vis-build.yml

added Dockerfiles
  backend/Dockerfile
  client/Dockerfile
  showcase-user-interface/Dockerfile
  tram-mock/Dockerfile
  user-client/Dockerfile
  vehicle-client/Dockerfile
  vehicle-mock/Dockerfile
Due: azure-pipelines/showcase-user-interface-build.yml

switch to acr
  azure-pipelines/frontend-showcase-vis-build.yml
  azure-pipelines/jobs/build.yml
Due: none

trigger release
  frontend-showcase-vis/src/components/HelloWorld.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

fixed path in make file
  frontend-showcase-vis/Makefile
  frontend-showcase-vis/tools/config.env
Due: azure-pipelines/frontend-showcase-vis-build.yml

change to builld new image
  frontend-showcase-vis/src/components/HelloWorld.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

access azure npm on build agent
  azure-pipelines/jobs/build.yml
  frontend-showcase-vis/Dockerfile
Due: azure-pipelines/frontend-showcase-vis-build.yml

changed npm feed name
  azure-pipelines/jobs/build.yml
Due: none

refactor and split into multiple files
  azure-pipelines/jobs/build.yml
  azure-pipelines/steps/docker.yml
  azure-pipelines/steps/npm.yml
Due: none

fixed missing $
  azure-pipelines/steps/npm.yml
Due: none

update package lock to use azure npm
  frontend-showcase-vis/package-lock.json.old
Due: azure-pipelines/frontend-showcase-vis-build.yml

packages can be pushed to private npm repo
  client/package.json
  frontend-showcase-vis/package.json
  showcase-user-interface/package.json
  tram-mock/package.json
  user-client/package.json
  vehicle-client/package.json
  vehicle-mock/package.json
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

added docu for azure npm setup
  docs/setup_npm.md
Due: none

added npmrc for all components
  backend/.npmrc
  client/.npmrc
  frontend-showcase-vis/.npmrc
  showcase-user-interface/.npmrc
  tram-mock/.npmrc
  user-client/.npmrc
  vehicle-client/.npmrc
  vehicle-mock/.npmrc
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

fixed repo path
  vehicle-client/package.json
Due: none

update package lock
  vehicle-client/package-lock.json
  vehicle-client/package-lock.json.old
Due: none

refactor
  azure-pipelines/frontend-showcase-vis-build.yml
Due: none

added doc for docker registry
  docs/setup_docker_registry.md
Due: none

fixed variable group name
  azure-pipelines/frontend-showcase-vis-build.yml
Due: none

updated design docs
  docs/basic-model.md
  docs/use-cases.md
Due: none

created vehicle data classes (#12)
  client/src/index.ts
  client/src/reservation.ts
  client/src/reservationMessage.ts
  client/src/stopWelcomeMessage.ts
  client/src/trip.ts
  client/src/vehicle.ts
Due: none

updated iota lib version
  client/package.json
Due: none

avoid default export
  client/src/index.ts
  client/src/reservation.ts
  client/src/reservationMessage.ts
  client/src/stopWelcomeMessage.ts
  client/src/trip.ts
  client/src/vehicle.ts
Due: none

configured publishing of client
  client/package.json
  client/src/index.ts
  client/tsconfig.json
  vehicle-client/package-lock.json
  vehicle-client/src/index.ts
Due: none

added mam and raam client
  client/package-lock.json
  client/package.json
Due: none

added publishVehicle function (#12, #13)
  client/package-lock.json
  client/package.json
  client/src/index.ts
  client/src/userPowSrv.ts
  client/src/vehicle.ts
  vehicle-client/package-lock.json
  vehicle-client/package.json
  vehicle-client/src/index.ts
  vehicle-client/src/vehiclePublisher.ts
Due: none

added variable group
  azure-pipelines/client-build.yml
Due: none

added variable group
  azure-pipelines/backend-build.yml
  azure-pipelines/showcase-user-interface-build.yml
  azure-pipelines/tram-mock-build.yml
  azure-pipelines/user-client-build.yml
  azure-pipelines/vehicle-client-build.yml
  azure-pipelines/vehicle-mock-build.yml
Due: none

integrated logger (fix #15)
  client/package-lock.json
  client/package.json
  client/src/index.ts
  client/src/logger.ts
  vehicle-client/package-lock.json
  vehicle-client/package.json
  vehicle-client/src/vehiclePublisher.ts
Due: none
