Repository RaphaelManke/fzi-iota-showcase: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml, azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

azure-pipelines/frontend-showcase-vis-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/showcase-user-interface-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/vehicle-client-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/vehicle-mock-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

Auto stash before merge of "master" and "origin/master"
  .vscode/settings.json
  showcase-user-interface/.eslintrc.js
  showcase-user-interface/.vscode/settings.json
  showcase-user-interface/tslint.json
Due: azure-pipelines/showcase-user-interface-build.yml

refactor router + login check
  backend/src/server.ts
  showcase-user-interface/src/components/Login.vue
  showcase-user-interface/src/main.ts
  showcase-user-interface/src/router.ts
Due: azure-pipelines/showcase-user-interface-build.yml

bind start stop properly to store
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/showcase-user-interface-build.yml

add User Object to UI
  showcase-user-interface/src/components/MapVisu.vue
  showcase-user-interface/src/components/UserObject.vue
Due: azure-pipelines/showcase-user-interface-build.yml

add users to frontend vis
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/components/UserObject.vue
  frontend-showcase-vis/src/stores/mapObjects/index.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

style and commit button
  frontend-showcase-vis/src/components/EventList.vue
  frontend-showcase-vis/src/components/StateTableObject.vue
  showcase-user-interface/src/App.vue
  showcase-user-interface/src/components/RouteSelection.vue
  showcase-user-interface/src/stores/user/index.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

make route selection scrollable
  showcase-user-interface/src/components/RouteSelection.vue
  showcase-user-interface/src/stores/routes/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

resize map
  showcase-user-interface/src/components/MapVisu.vue
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/showcase-user-interface-build.yml

init route ovserver page
  frontend-showcase-vis/src/components/EventList.vue
  showcase-user-interface/src/App.vue
  showcase-user-interface/src/components/MapVisu.vue
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/components/RouteSelection.vue
  showcase-user-interface/src/stores/routes/index.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

add route selected check + alert
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/showcase-user-interface-build.yml

fix lint errors
  backend/src/controller.ts
  backend/src/server.ts
Due: none

linting
  client/package-lock.json
  client/package.json
  client/src/tripReader.ts
  client/src/vehicleReader.ts
  vehicle-client/src/vehiclePublisher.ts
Due: azure-pipelines/vehicle-client-build.yml

get routes from backend
  showcase-user-interface/src/components/RouteSelection.vue
  showcase-user-interface/src/stores/routes/index.ts
  showcase-user-interface/src/stores/routes/types.ts
Due: azure-pipelines/showcase-user-interface-build.yml

integrate endpoint routes into route observer
  showcase-user-interface/src/components/RouteObserver.vue
Due: azure-pipelines/showcase-user-interface-build.yml

added create payment seed method
  vehicle-client/src/index.ts
  vehicle-client/src/seeds.ts
Due: azure-pipelines/vehicle-client-build.yml

integrate change route option
  showcase-user-interface/src/components/RouteObserver.vue
Due: azure-pipelines/showcase-user-interface-build.yml

implemented vehicle mock
  vehicle-client/package-lock.json
  vehicle-mock/package-lock.json
  vehicle-mock/package.json
  vehicle-mock/src/emitter.ts
  vehicle-mock/src/index.ts
  vehicle-mock/src/tripState.ts
  vehicle-mock/src/vehicle.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

fix vehicle mock test
  vehicle-mock/test/mover.spec.ts
Due: azure-pipelines/vehicle-mock-build.yml

make ui events individual
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/stores/events/index.ts
  showcase-user-interface/src/stores/events/types.ts
  showcase-user-interface/src/stores/routes/types.ts
  showcase-user-interface/src/stores/store.ts
Due: azure-pipelines/showcase-user-interface-build.yml

add user to state table
  frontend-showcase-vis/src/components/EventList.vue
  frontend-showcase-vis/src/components/StateTable.vue
  frontend-showcase-vis/src/components/StateTableObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

fix logout
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/stores/mapObjects/index.ts
  showcase-user-interface/src/App.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

implemented mock init and checkIn
  .vscode/launch.json
  backend/src/controller.ts
  backend/src/idSupplier.ts
  backend/src/logger.ts
  backend/src/mockConstructor.ts
  backend/src/vehicleImporter.ts
  backend/src/vehicleInfo.ts
  backend/tests/simple.ts
  vehicle-mock/package-lock.json
  vehicle-mock/src/vehicle.ts
  vehicle-mock/src/vehicleMock.ts
  vehicle-mock/test/mover.spec.ts
Due: azure-pipelines/vehicle-mock-build.yml

refactor route observer view
  showcase-user-interface/src/components/RouteObserver.vue
Due: azure-pipelines/showcase-user-interface-build.yml

fix selection bug
  backend/package-lock.json
  showcase-user-interface/src/components/RouteObserver.vue
Due: azure-pipelines/showcase-user-interface-build.yml

added start trip endpoint
  backend/src/controller.ts
  backend/src/events.ts
  backend/src/server.ts
  vehicle-mock/src/emitter.ts
  vehicle-mock/src/vehicle.ts
  vehicle-mock/src/vehicleMock.ts
  vehicle-mock/test/mover.spec.ts
Due: azure-pipelines/vehicle-mock-build.yml

move trip events to backend
  vehicle-mock/src/emitter.ts
  vehicle-mock/src/tripState.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

fixed test
  vehicle-mock/test/mover.spec.ts
Due: azure-pipelines/vehicle-mock-build.yml

implemented trip started/finished events
  backend/package-lock.json
  backend/src/controller.ts
  backend/src/envInfo.ts
  backend/src/events.ts
  backend/src/server.ts
  backend/src/vehicleInfo.ts
  frontend-showcase-vis/package-lock.json
Due: azure-pipelines/frontend-showcase-vis-build.yml

added filtering for websocket events
  backend/src/server.ts
  backend/tests/simple.ts
Due: none

fixed return type of route endpoint
  backend/src/controller.ts
Due: none

exchange id with name
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/showcase-user-interface-build.yml

start trip by selecting route
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/components/RouteSelection.vue
  showcase-user-interface/src/stores/routes/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

moved config to files
  backend/connections.json
  backend/package-lock.json
  backend/package.json
  backend/src/controller.ts
  backend/src/server.ts
  backend/src/users.ts
  backend/src/vehicleImporter.ts
  backend/stops.json
  backend/tests/simple.ts
  backend/users.json
  backend/vehicles.json
Due: none

moved backend starter to main.ts
  backend/package.json
  backend/src/main.ts
  backend/tests/simple.ts
  backend/vehicles.json
Due: none

remove simulation start
  frontend-showcase-vis/src/App.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

messy reaction on trips
  backend/package-lock.json
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/stores/mapObjects/index.ts
  showcase-user-interface/src/components/RouteObserver.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

fix bug in router
  vehicle-mock/src/router.ts
Due: azure-pipelines/vehicle-mock-build.yml

fixed path positions
  backend/connections.json
  backend/vehicles.json
Due: none

display stop tooltip on top
  frontend-showcase-vis/src/components/StopObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

logging
  backend/src/main.ts
  backend/src/server.ts
Due: none

Path conditions:
  azure-pipelines/frontend-showcase-vis-build.yml: any of: frontend-showcase-vis, azure-pipelines/frontend-showcase-vis-build.yml
  azure-pipelines/showcase-user-interface-build.yml: any of: showcase-user-interface
  azure-pipelines/vehicle-client-build.yml: any of: vehicle-client
  azure-pipelines/vehicle-mock-build.yml: any of: vehicle-mock
