Repository RaphaelManke/fzi-iota-showcase: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml, azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

azure-pipelines/frontend-showcase-vis-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/showcase-user-interface-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/vehicle-client-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/vehicle-mock-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

refactored and formated event list
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/components/EventList.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

added eventemitter to dependencies
  frontend-showcase-vis/package.json
Due: azure-pipelines/frontend-showcase-vis-build.yml

limit event list length
  frontend-showcase-vis/src/components/EventList.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

make vehicle move on events
  frontend-showcase-vis/package-lock.json
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/components/Vehicle.vue
  frontend-showcase-vis/src/components/VehicleSpace.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

make position change smooth
  frontend-showcase-vis/src/components/Vehicle.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

switched logging in backend
  backend/package-lock.json
  backend/package.json
  backend/src/controller.ts
  backend/src/logger.ts
  backend/src/websocket.ts
  frontend-showcase-vis/package-lock.json
Due: azure-pipelines/frontend-showcase-vis-build.yml

added express webserver
  backend/package-lock.json
  backend/package.json
  backend/src/controller.ts
  backend/src/server.ts
  backend/tests/simple.ts
Due: none

added env info endpoint
  backend/src/controller.ts
  backend/src/env.ts
  backend/src/mock/envMock.ts
  backend/src/server.ts
  backend/tests/simple.ts
Due: none

refactor Dockerfile
  backend/Dockerfile
  backend/package.json
  backend/src/main.ts
Due: none

add npm authentication task to docker pipeline
  azure-pipelines/jobs/build-node.yml
  azure-pipelines/jobs/build.yml
  azure-pipelines/steps/docker.yml
Due: none

set path to .npmrc in auth task
  azure-pipelines/steps/docker.yml
Due: none

added build tools
  backend/Dockerfile
Due: none

added tooling
  backend/Makefile
  backend/tools/Makefile.docker-compose
  backend/tools/config.env
  backend/tools/deploy.env
  backend/tools/usage.sh
  backend/tools/version.sh
Due: none

removed unnecessary npm tasks
  azure-pipelines/jobs/build-node.yml
Due: none

removed registry url and added file selection
  vehicle-client/package.json
Due: azure-pipelines/vehicle-client-build.yml

cleaned dependencies
  client/src/tripReader.ts
  vehicle-client/package-lock.json
  vehicle-client/package.json
Due: azure-pipelines/vehicle-client-build.yml

removed websocket file
  backend/src/websocket.ts
Due: none

added checkInReader
  client/src/checkInReader.ts
  client/src/dateTagger.ts
  client/src/tripReader.ts
Due: none

add checkInReader to module exports
  client/src/index.ts
Due: none

fixed typo
  client/src/checkInReader.ts
  client/src/index.ts
Due: none

added tag to make versionining possible
  azure-pipelines/steps/docker.yml
Due: none

return txHash in checkInReader
  client/src/checkInReader.ts
Due: none

linting
  client/src/checkInReader.ts
  client/src/messages/converter.ts
Due: none

refactored in to trytes conversion
  client/src/dateTagger.ts
  client/src/index.ts
  client/src/intTryteConverter.ts
Due: none

added intToPaddedTrytes
  client/src/dateTagger.ts
  client/src/index.ts
  client/src/intTryteConverter.ts
Due: none

include length in CheckInTransaction
  client/src/checkInReader.ts
  client/src/index.ts
  vehicle-client/package-lock.json
  vehicle-client/src/checkInPublisher.ts
  vehicle-client/test/checkInPublisher.spec.ts
Due: azure-pipelines/vehicle-client-build.yml

export trip reader
  client/src/index.ts
  vehicle-client/test/checkInPublisher.spec.ts
Due: azure-pipelines/vehicle-client-build.yml

added reservation reader
  client/src/checkInReader.ts
  client/src/index.ts
  client/src/reservationReader.ts
Due: none

don't include default port
  vehicle-client/test/checkInPublisher.spec.ts
  vehicle-client/test/publishVehicle.spec.ts
Due: azure-pipelines/vehicle-client-build.yml

added reservation and checkOut test
  vehicle-client/test/checkInPublisher.spec.ts
Due: azure-pipelines/vehicle-client-build.yml

updated package.json
  user-client/package-lock.json
  user-client/package.json
  user-client/test/mocha.opts
  vehicle-client/package.json
Due: azure-pipelines/vehicle-client-build.yml

added devDependencies
  user-client/package-lock.json
  user-client/package.json
  vehicle-client/package-lock.json
Due: azure-pipelines/vehicle-client-build.yml

add timestamp to read checkIns
  client/src/checkInReader.ts
  vehicle-client/test/checkInPublisher.spec.ts
  vehicle-client/test/iota.ts
Due: azure-pipelines/vehicle-client-build.yml

expand model
  client/src/messages/checkInMessage.ts
  client/src/vehicle.ts
Due: none

logging + comments
  client/src/checkInReader.ts
  client/src/tripReader.ts
  client/src/vehicleReader.ts
Due: none

use livenet for testing while devnet is down
  vehicle-client/test/checkInPublisher.spec.ts
  vehicle-client/test/publishVehicle.spec.ts
Due: azure-pipelines/vehicle-client-build.yml

added stopReader
  user-client/src/stopReader.ts
Due: none

added password to tripReader
  client/src/messages/checkInMessage.ts
  client/src/tripReader.ts
Due: none

added password to tripPublisher
  vehicle-client/src/checkInPublisher.ts
  vehicle-client/test/checkInPublisher.spec.ts
Due: azure-pipelines/vehicle-client-build.yml

error handling
  client/src/checkInReader.ts
  user-client/src/stopReader.ts
Due: none

Path conditions:
  azure-pipelines/frontend-showcase-vis-build.yml: any of: frontend-showcase-vis, azure-pipelines/frontend-showcase-vis-build.yml
  azure-pipelines/showcase-user-interface-build.yml: any of: showcase-user-interface
  azure-pipelines/vehicle-client-build.yml: any of: vehicle-client
  azure-pipelines/vehicle-mock-build.yml: any of: vehicle-mock
