Repository RaphaelManke/fzi-iota-showcase: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml, azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

azure-pipelines/frontend-showcase-vis-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/showcase-user-interface-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/vehicle-client-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/vehicle-mock-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

fix strange zoom behaviour
  frontend-showcase-vis/src/components/MapVisu.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

added iota styling
  frontend-showcase-vis/public/assets/images/iota.png
  frontend-showcase-vis/src/components/MapObject.vue
  frontend-showcase-vis/src/components/MapVisu.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

fix element ref
  frontend-showcase-vis/src/components/EventList.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

add test guy
  frontend-showcase-vis/public/assets/images/male.png
  frontend-showcase-vis/src/components/MapVisu.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

refactor stop model to use real world positions
  backend/src/env.ts
  backend/tests/simple.ts
Due: none

enable cors
  backend/src/server.ts
  frontend-showcase-vis/package-lock.json
Due: azure-pipelines/frontend-showcase-vis-build.yml

get env by http
  frontend-showcase-vis/package-lock.json
  frontend-showcase-vis/package.json
  frontend-showcase-vis/src/components/EventList.vue
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/main.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

change map object to fit new init paras
  frontend-showcase-vis/public/assets/images/stop.png
  frontend-showcase-vis/src/components/MapObject.vue
  frontend-showcase-vis/src/components/MapVisu.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

add dynamic name property
  frontend-showcase-vis/src/components/MapObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

link https get to websocket connect
  frontend-showcase-vis/src/components/MapVisu.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

create space fo fancy info box
  frontend-showcase-vis/src/components/EventList.vue
  frontend-showcase-vis/src/components/MapObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

defined frontend events
  backend/src/env.ts
  backend/tests/simple.ts
  docs/frontend-events.md
Due: none

change abreviation to standard
  frontend-showcase-vis/src/components/MapObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

lon to lng
  frontend-showcase-vis/src/components/MapVisu.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

displace styling and add setter to position
  frontend-showcase-vis/src/components/MapObject.vue
  frontend-showcase-vis/src/components/MapVisu.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

add state box
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/components/EventList.vue
  frontend-showcase-vis/src/components/MapObject.vue
  frontend-showcase-vis/src/components/StateTable.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

added event and info types
  backend/src/env.ts
  backend/src/envInfo.ts
  backend/src/events.ts
  backend/src/mock/envMock.ts
  backend/src/mock/vehicleMock.ts
  backend/src/vehicle.ts
  backend/src/vehicleInfo.ts
  backend/tests/simple.ts
  client/test/message.spec.ts
  docs/frontend-events.md
Due: none

preparing backend for using new events
  backend/src/events.ts
  backend/src/mock/envMock.ts
  backend/src/mock/mock.ts
  backend/src/mock/vehicleMock.ts
  backend/src/vehicle.ts
  backend/src/vehicleInfo.ts
  backend/tests/simple.ts
Due: none

make env template
  frontend-showcase-vis/public/assets/geojson/geojson.js
Due: azure-pipelines/frontend-showcase-vis-build.yml

change geojson to polyline
  frontend-showcase-vis/src/components/MapVisu.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

connection with various points
  frontend-showcase-vis/public/assets/geojson/geojson.js
Due: azure-pipelines/frontend-showcase-vis-build.yml

move env get request
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/components/MapVisu.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

make things prettier and add comments
  frontend-showcase-vis/public/assets/geojson/geojson.js
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/components/MapObject.vue
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/components/StateTable.vue
  frontend-showcase-vis/src/components/StateTableObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

change App.vue to old style
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/components/MapObject.vue
  frontend-showcase-vis/src/components/StateTableObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

fix computed prop not observed
  frontend-showcase-vis/src/components/MapObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

initial state design
  frontend-showcase-vis/src/components/MapObject.vue
  frontend-showcase-vis/src/components/StateTable.vue
  frontend-showcase-vis/src/components/StateTableObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

ported env coordinates to backend
  backend/src/envInfo.ts
  backend/src/events.ts
  backend/tests/simple.ts
Due: none

seperate internal from public events
  backend/src/controller.ts
  backend/src/env.ts
  backend/src/events.ts
  backend/src/logger.ts
  backend/src/mock/envMock.ts
  backend/src/mock/vehicleMock.ts
  backend/src/server.ts
  backend/tests/simple.ts
Due: none

prepare mocked driving
  vehicle-mock/package-lock.json
  vehicle-mock/package.json
  vehicle-mock/src/emitter.ts
  vehicle-mock/src/index.ts
  vehicle-mock/src/interpolator.ts
  vehicle-mock/src/position.ts
  vehicle-mock/src/router.ts
  vehicle-mock/src/vehicle.ts
  vehicle-mock/test/mocha.opts
  vehicle-mock/test/router.spec.ts
Due: azure-pipelines/vehicle-mock-build.yml

remove unused import
  backend/src/mock/vehicleMock.ts
  backend/src/vehicleInfo.ts
Due: none

name test
  vehicle-mock/test/router.spec.ts
Due: azure-pipelines/vehicle-mock-build.yml

add position property to stop type
  backend/src/envInfo.ts
  backend/tests/simple.ts
Due: none

added mover
  vehicle-mock/src/interpolator.ts
  vehicle-mock/src/mover.ts
  vehicle-mock/src/router.ts
  vehicle-mock/src/vehicle.ts
  vehicle-mock/test/mover.spec.ts
  vehicle-mock/test/router.spec.ts
Due: azure-pipelines/vehicle-mock-build.yml

integrated vehicle mock into backend
  backend/package-lock.json
  backend/package.json
  backend/tests/simple.ts
  vehicle-mock/src/index.ts
  vehicle-mock/src/mover.ts
  vehicle-mock/src/router.ts
  vehicle-mock/src/vehicle.ts
  vehicle-mock/test/mover.spec.ts
Due: azure-pipelines/vehicle-mock-build.yml

update tsconfig
  backend/tests/simple.ts
  vehicle-mock/tsconfig.json
Due: azure-pipelines/vehicle-mock-build.yml

return all possible routes
  vehicle-mock/src/mover.ts
  vehicle-mock/src/router.ts
  vehicle-mock/test/router.spec.ts
Due: azure-pipelines/vehicle-mock-build.yml

moved routing from mover
  vehicle-mock/src/mover.ts
  vehicle-mock/test/mover.spec.ts
Due: azure-pipelines/vehicle-mock-build.yml

exports for vehicle-mock
  vehicle-mock/src/index.ts
Due: azure-pipelines/vehicle-mock-build.yml

add caching to router
  vehicle-mock/src/index.ts
  vehicle-mock/src/router.ts
Due: azure-pipelines/vehicle-mock-build.yml

add check in mover
  vehicle-mock/src/mover.ts
Due: azure-pipelines/vehicle-mock-build.yml

Path conditions:
  azure-pipelines/frontend-showcase-vis-build.yml: any of: frontend-showcase-vis, azure-pipelines/frontend-showcase-vis-build.yml
  azure-pipelines/showcase-user-interface-build.yml: any of: showcase-user-interface
  azure-pipelines/vehicle-client-build.yml: any of: vehicle-client
  azure-pipelines/vehicle-mock-build.yml: any of: vehicle-mock
