Repository RaphaelManke/fzi-iota-showcase: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml, azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

azure-pipelines/frontend-showcase-vis-build.yml:

#
#
#

variables:
  app_path: frontend-showcase-vis
  app_name: Frontend showcase visulization

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'frontend-showcase-vis/*'
    - 'azure-pipelines/frontend-showcase-vis-build.yml'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/showcase-user-interface-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  groups: dockerRegistry
  app_path: showcase-user-interface
  app_name: Showcase user-interface

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'showcase-user-interface/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/vehicle-client-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  app_path: vehicle-client
  app_name: Vehicle Client

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'vehicle-client/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/vehicle-mock-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  app_path: vehicle-mock
  app_name: Vehicle mock

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'vehicle-mock/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

fix vehicles disapearing
  frontend-showcase-vis/src/stores/mapObjects/index.ts
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

add entering vehicle mode
  frontend-showcase-vis/src/components/StateTableObject.vue
  frontend-showcase-vis/src/stores/mapObjects/index.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

refactored router -> pathFinder
  vehicle-mock/src/index.ts
  vehicle-mock/src/mover.ts
  vehicle-mock/src/pathFinder.ts
  vehicle-mock/src/vehicleMock.ts
  vehicle-mock/test/mover.spec.ts
  vehicle-mock/test/pathFinder.spec.ts
  vehicle-mock/test/router.spec.ts
Due: azure-pipelines/vehicle-mock-build.yml

rename var
  vehicle-mock/src/pathFinder.ts
Due: azure-pipelines/vehicle-mock-build.yml

add user trip to UI
  showcase-user-interface/src/stores/mapObjects/index.ts
  showcase-user-interface/src/stores/user/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

return checkInMessage on checkIn
  backend/package-lock.json
  backend/src/controller.ts
  vehicle-mock/src/emitter.ts
  vehicle-mock/src/tripState.ts
  vehicle-mock/src/vehicle.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

renamed emitter -> observer
  vehicle-mock/src/index.ts
  vehicle-mock/src/observer.ts
  vehicle-mock/src/vehicle.ts
Due: azure-pipelines/vehicle-mock-build.yml

fixed vehicle mock test
  vehicle-mock/test/mover.spec.ts
Due: azure-pipelines/vehicle-mock-build.yml

change route selected to index
  showcase-user-interface/src/components/MapVisu.vue
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/components/RouteSelection.vue
  showcase-user-interface/src/stores/routes/index.ts
  showcase-user-interface/src/stores/routes/types.ts
  showcase-user-interface/src/stores/user/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

send checkIn message in env endpoint
  backend/package-lock.json
  backend/src/mockConstructor.ts
  backend/src/server.ts
  backend/src/vehicleInfo.ts
  vehicle-mock/test/pathFinder.spec.ts
Due: azure-pipelines/vehicle-mock-build.yml

fix trip not selected error
  backend/package-lock.json
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/showcase-user-interface-build.yml

fix double login
  backend/package-lock.json
  showcase-user-interface/src/components/Login.vue
  showcase-user-interface/src/stores/user/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

added types to GET routes endpoint
  backend/src/controller.ts
  backend/src/server.ts
Due: none

fix crash on change route
  showcase-user-interface/src/components/RouteObserver.vue
Due: azure-pipelines/showcase-user-interface-build.yml

reverse double login fix
  showcase-user-interface/src/components/Login.vue
  showcase-user-interface/src/stores/user/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

return used connections in path finder
  vehicle-mock/src/mover.ts
  vehicle-mock/src/pathFinder.ts
  vehicle-mock/test/mover.spec.ts
Due: azure-pipelines/vehicle-mock-build.yml

fix map disco on observer page
  showcase-user-interface/src/components/RouteObserver.vue
Due: azure-pipelines/showcase-user-interface-build.yml

fix bug #43
  backend/package-lock.json
  backend/src/main.ts
Due: none

fixed backend build
  backend/Dockerfile
Due: none

fix bug in path finding
  .vscode/launch.json
  vehicle-mock/package.json
  vehicle-mock/src/pathFinder.ts
  vehicle-mock/test/pathFinder.spec.ts
Due: azure-pipelines/vehicle-mock-build.yml

show events on ui in an understandable fashion
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/stores/events/index.ts
  showcase-user-interface/src/stores/events/types.ts
Due: azure-pipelines/showcase-user-interface-build.yml

state table show passengers
  frontend-showcase-vis/src/components/StateTableObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

added router test
  backend/package-lock.json
  backend/package.json
  backend/src/controller.ts
  backend/src/envInfo.ts
  backend/src/routeInfo.ts
  backend/src/router.ts
  backend/test/mocha.opts
  backend/test/router.spec.ts
Due: none

fix route observer not showing buck
  frontend-showcase-vis/src/components/StateTableObject.vue
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/stores/events/index.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

calculate section times
  backend/src/router.ts
Due: none

added intermediate stops to routes
  backend/src/routeInfo.ts
  backend/src/router.ts
Due: none

fix route selection error
  backend/package-lock.json
  showcase-user-interface/src/stores/routes/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

make progress bar fill on ride
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/components/RouteSelection.vue
  showcase-user-interface/src/stores/routes/index.ts
  showcase-user-interface/src/stores/routes/types.ts
  showcase-user-interface/src/stores/user/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

added reached stop in vehicle mock
  vehicle-mock/src/observer.ts
  vehicle-mock/src/tripState.ts
  vehicle-mock/src/vehicle.ts
  vehicle-mock/src/vehicleMock.ts
  vehicle-mock/test/mover.spec.ts
Due: azure-pipelines/vehicle-mock-build.yml

added reached stop event in backend
  backend/src/events.ts
  backend/src/logger.ts
  backend/src/mockConstructor.ts
  backend/src/server.ts
  showcase-user-interface/package-lock.json
Due: azure-pipelines/showcase-user-interface-build.yml

use verbose names for stops
  backend/connections.json
  backend/src/server.ts
  backend/stops.json
  backend/users.json
  backend/vehicles.json
Due: none

add bluebird types
  vehicle-mock/package.json
Due: azure-pipelines/vehicle-mock-build.yml

fix build error parsInt
  showcase-user-interface/src/stores/routes/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

add bluebird types to backend
  backend/package-lock.json
  backend/package.json
Due: none

fix trip request + resume alert
  backend/package-lock.json
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/showcase-user-interface-build.yml

remove wrong dependency
  showcase-user-interface/package-lock.json
  showcase-user-interface/package.json
Due: azure-pipelines/showcase-user-interface-build.yml

specify iota lib version
  backend/package-lock.json
  client/package.json
  vehicle-mock/package.json
Due: azure-pipelines/vehicle-mock-build.yml

specify client version
  client/package-lock.json
  user-client/package.json
  vehicle-client/package-lock.json
  vehicle-client/package.json
Due: azure-pipelines/vehicle-client-build.yml

use precise version of iota lib
  client/package-lock.json
  client/package.json
Due: none

fix dependency versions
  user-client/package-lock.json
  user-client/package.json
  vehicle-client/package-lock.json
  vehicle-client/package.json
Due: azure-pipelines/vehicle-client-build.yml
