Repository RaphaelManke/fzi-iota-showcase: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml, azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

azure-pipelines/frontend-showcase-vis-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/showcase-user-interface-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/vehicle-client-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

azure-pipelines/vehicle-mock-build.yml:
  jobs:
  - template: jobs/build.yml
    parameters:
      app_name: $(app_name)
      pool:
        vmImage: ubuntu-16.04

change style of tangle panel
  frontend-showcase-vis/src/components/TanglePanel.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

added bike connection
  backend/config/connections.json
  deployment/config/connections.json
Due: none

refactor emitting reachedStop
  backend/src/mockConstructor.ts
Due: none

added users
  backend/config/schedules.json
  backend/config/vehicles.json
  deployment/config/schedules.json
  deployment/config/users.json
  deployment/config/vehicles.json
Due: none

bugfix checking amount of boarding users
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

fix transitions
  frontend-showcase-vis/src/components/TanglePanel.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

add row to transaction panel
  frontend-showcase-vis/src/components/TanglePanel.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

fixed connection noot vissiable
  backend/config/connections.json
  deployment/config/connections.json
Due: none

hide resume button after click
  showcase-user-interface/src/components/RouteObserver.vue
Due: azure-pipelines/showcase-user-interface-build.yml

removed bike-9
  deployment/config/vehicles.json
Due: none

fix transaction not shown due to user not defined
  frontend-showcase-vis/src/components/TanglePanel.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

remove opacity on transition
  frontend-showcase-vis/src/components/TanglePanel.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

remove scrollbar on frontend
  frontend-showcase-vis/src/App.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

remove bike-3
  deployment/config/vehicles.json
Due: none

fix route options not displayed
  showcase-user-interface/src/components/RouteObserver.vue
Due: azure-pipelines/showcase-user-interface-build.yml

added check if user requested another trip
  backend/src/controller.ts
  backend/src/userMock.ts
  backend/src/users.ts
Due: none

adjust route selection padding
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/showcase-user-interface-build.yml

fit frontend to big screen
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/components/TanglePanel.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

fix dateformat to 24h
  frontend-showcase-vis/src/stores/transactions/index.ts
  showcase-user-interface/src/stores/events/index.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

fix vehicle type selection
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/components/RouteSelection.vue
  showcase-user-interface/src/stores/routes/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

Auto stash before merge of "master" and "origin/master"
  backend/Dockerfile
Due: none

added timezone
  deployment/docker-compose.yml
Due: none

fix ts error
  showcase-user-interface/src/stores/routes/types.ts
Due: azure-pipelines/showcase-user-interface-build.yml

add time to routes
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/components/RouteSelection.vue
  showcase-user-interface/src/stores/routes/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

fix change route update bug
  showcase-user-interface/src/components/RouteObserver.vue
Due: azure-pipelines/showcase-user-interface-build.yml

disable change route button on trip
  showcase-user-interface/src/components/RouteObserver.vue
Due: azure-pipelines/showcase-user-interface-build.yml

increase channel capacities
  deployment/config/vehicles.json
Due: none

disable change button immediatley after click
  showcase-user-interface/src/components/RouteObserver.vue
Due: azure-pipelines/showcase-user-interface-build.yml

Vortrag
  docs/Vortrag.md
Due: none

fix frontend missfit
  frontend-showcase-vis/src/App.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

fixed node type version
  backend/package-lock.json
  backend/package.json
  backend/tsconfig.json
  client/package-lock.json
  client/package.json
  tram-mock/package-lock.json
  tram-mock/package.json
  user-client/package-lock.json
  user-client/package.json
  vehicle-client/package-lock.json
  vehicle-client/package.json
  vehicle-mock/package-lock.json
  vehicle-mock/package.json
Due: azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

lower mwm on tests
  frontend-showcase-vis/package-lock.json
  showcase-user-interface/package-lock.json
  user-client/test/stopReader.spec.ts
  vehicle-client/test/checkInPublisher.spec.ts
  vehicle-client/test/publishVehicle.spec.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml, azure-pipelines/vehicle-client-build.yml

Path conditions:
  azure-pipelines/frontend-showcase-vis-build.yml: any of: frontend-showcase-vis, azure-pipelines/frontend-showcase-vis-build.yml
  azure-pipelines/showcase-user-interface-build.yml: any of: showcase-user-interface
  azure-pipelines/vehicle-client-build.yml: any of: vehicle-client
  azure-pipelines/vehicle-mock-build.yml: any of: vehicle-mock
