Repository RaphaelManke/fzi-iota-showcase: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml, azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

azure-pipelines/frontend-showcase-vis-build.yml:

#
#
#

variables:
  app_path: frontend-showcase-vis
  app_name: Frontend showcase visulization

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'frontend-showcase-vis/*'
    - 'azure-pipelines/frontend-showcase-vis-build.yml'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/showcase-user-interface-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  groups: dockerRegistry
  app_path: showcase-user-interface
  app_name: Showcase user-interface

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'showcase-user-interface/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/vehicle-client-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  app_path: vehicle-client
  app_name: Vehicle Client

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'vehicle-client/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/vehicle-mock-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  app_path: vehicle-mock
  app_name: Vehicle mock

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'vehicle-mock/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

new version of vehicle-client
  vehicle-mock/package-lock.json
Due: azure-pipelines/vehicle-mock-build.yml

refactored trip endpoint
  backend/package-lock.json
  backend/src/controller.ts
  backend/src/server.ts
Due: none

check vehicle position before trip
  backend/src/server.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

add reversed connection to route building
  backend/src/controller.ts
  client/src/messages/boarding.ts
  user-client/src/boardingHandler.ts
Due: none

fix bug in router
  backend/src/router.ts
Due: none

make route resum-/changable
  backend/package-lock.json
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/showcase-user-interface-build.yml

fix resume error (still weird)
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/components/RouteSelection.vue
  showcase-user-interface/src/stores/user/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

fix route finished selection error
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/stores/routes/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

fix zIndex Vue warning
  frontend-showcase-vis/src/components/UserObject.vue
  frontend-showcase-vis/src/components/VehicleObject.vue
  showcase-user-interface/src/components/UserObject.vue
  showcase-user-interface/src/components/VehicleObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

fix popup not appearing bug
  showcase-user-interface/src/components/RouteObserver.vue
Due: azure-pipelines/showcase-user-interface-build.yml

fi route ended wrong title bug
  showcase-user-interface/src/components/RouteObserver.vue
Due: azure-pipelines/showcase-user-interface-build.yml

flter stops by current location
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/showcase-user-interface-build.yml

fix progress bars not updating
  showcase-user-interface/src/stores/routes/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

make change route work
  showcase-user-interface/src/components/RouteObserver.vue
Due: azure-pipelines/showcase-user-interface-build.yml

export publishMetaInfoRoot
  vehicle-client/package-lock.json
  vehicle-client/src/vehiclePublisher.ts
Due: azure-pipelines/vehicle-client-build.yml

bugfixing for trip handling
  vehicle-mock/package-lock.json
  vehicle-mock/src/mover.ts
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

added stopTripAtNextStop endpoint
  backend/src/controller.ts
  backend/src/server.ts
Due: none

add config files for GUIs
  frontend-showcase-vis/.env.development
  frontend-showcase-vis/src/main.ts
  showcase-user-interface/.env.development
  showcase-user-interface/src/main.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

fix ui freezze on misusage
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/stores/user/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

make events default on observer
  showcase-user-interface/src/components/RouteObserver.vue
Due: azure-pipelines/showcase-user-interface-build.yml

show user and balance only if loggedIn
  showcase-user-interface/src/App.vue
Due: azure-pipelines/showcase-user-interface-build.yml

add iota formating
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/showcase-user-interface-build.yml

added user state
  user-client/package.json
  user-client/src/boardingHandler.ts
  user-client/src/index.ts
  user-client/src/userState.ts
Due: none

read user balance on startup
  backend/package.json
  backend/src/main.ts
  backend/src/users.ts
Due: none

remove double stop naming
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/components/RouteSelection.vue
  showcase-user-interface/src/stores/user/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

no space break in route options
  backend/package-lock.json
  showcase-user-interface/src/App.vue
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/showcase-user-interface-build.yml

boarding data model
  client/src/index.ts
  client/src/messages/boarding.ts
Due: none

add bike and connections
  backend/connections.json
  backend/stops.json
  frontend-showcase-vis/public/assets/images/bike.png
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/components/StateTableObject.vue
  showcase-user-interface/public/assets/images/bike.png
  showcase-user-interface/src/components/MapVisu.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

replace stop icon
  frontend-showcase-vis/public/assets/images/stop.png
  showcase-user-interface/public/assets/images/stop.png
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

fix bug in router
  backend/src/router.ts
  backend/src/users.ts
  client/src/messages/boarding.ts
Due: none

added cancel message
  client/src/messages/boarding.ts
  user-client/package-lock.json
  user-client/src/boardingHandler.ts
  user-client/src/index.ts
  user-client/src/tripHandler.ts
Due: none

add nonce verifying
  user-client/src/tripHandler.ts
Due: none

react to checkIn events in frontend
  frontend-showcase-vis/src/components/StateTableObject.vue
  frontend-showcase-vis/src/stores/mapObjects/index.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

added more map
  backend/connections.json
  backend/stops.json
Due: none

fix path finding bug
  vehicle-mock/package-lock.json
  vehicle-mock/src/pathFinder.ts
Due: azure-pipelines/vehicle-mock-build.yml

modeled boarding and payment
  client/src/messages/boarding.ts
Due: none

adde boarding and payment handlers
  user-client/src/tripHandler.ts
  vehicle-client/package-lock.json
  vehicle-client/src/boardingHandler.ts
Due: azure-pipelines/vehicle-client-build.yml

add boarding handler to exports
  vehicle-client/src/index.ts
Due: azure-pipelines/vehicle-client-build.yml

added empty flash mock
  client/src/messages/flashMock.ts
Due: none

add flash mock to exports
  client/src/index.ts
Due: none
