Repository RaphaelManke/fzi-iota-showcase: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml, azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

azure-pipelines/frontend-showcase-vis-build.yml:

#
#
#

variables:
  app_path: frontend-showcase-vis
  app_name: Frontend showcase visulization

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'frontend-showcase-vis/*'
    - 'azure-pipelines/frontend-showcase-vis-build.yml'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/showcase-user-interface-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  groups: dockerRegistry
  app_path: showcase-user-interface
  app_name: Showcase user-interface

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'showcase-user-interface/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/vehicle-client-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  app_path: vehicle-client
  app_name: Vehicle Client

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'vehicle-client/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/vehicle-mock-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  app_path: vehicle-mock
  app_name: Vehicle mock

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'vehicle-mock/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

Auto stash before merge of "master" and "origin/master"
  frontend-showcase-vis/public/assets/geojson/geojson.js
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/components/EventList.vue
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/components/StateTable.vue
  frontend-showcase-vis/src/components/StateTableObject.vue
  frontend-showcase-vis/src/components/StopObject.vue
  frontend-showcase-vis/src/components/UserObject.vue
  frontend-showcase-vis/src/components/VehicleObject.vue
  frontend-showcase-vis/src/custom_typings/vue-socket.io/index.d.ts
  frontend-showcase-vis/src/custom_typings/vue/index.d.ts
  frontend-showcase-vis/src/events.ts
  frontend-showcase-vis/src/main.ts
  frontend-showcase-vis/src/shims-tsx.d.ts
  frontend-showcase-vis/src/shims-vue.d.ts
  frontend-showcase-vis/src/stores/mapObjects/index.ts
  frontend-showcase-vis/src/stores/mapObjects/types.ts
  frontend-showcase-vis/src/stores/store.ts
  frontend-showcase-vis/src/stores/types.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

added stops to state table
  frontend-showcase-vis/src/components/StateTable.vue
  frontend-showcase-vis/src/components/StateTableObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

fixed name of prettier
  .vscode/extensions.json
Due: none

remove duplicated key in settings
  .vscode/settings.json
  client/src/chainedMessageBuilder.ts
Due: none

fix vehicle name not shown
  frontend-showcase-vis/src/components/VehicleObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

give users and vehicles z priority
  frontend-showcase-vis/src/components/UserObject.vue
  frontend-showcase-vis/src/components/VehicleObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

initial commit - user-interface
  showcase-user-interface/src/index.html
  showcase-user-interface/src/index.js
Due: azure-pipelines/showcase-user-interface-build.yml

remove internal event bus from components
  frontend-showcase-vis/src/App.vue
  frontend-showcase-vis/src/components/EventList.vue
  frontend-showcase-vis/src/components/MapVisu.vue
  frontend-showcase-vis/src/components/UserObject.vue
  frontend-showcase-vis/src/components/VehicleObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

formatting fixed
  frontend-showcase-vis/src/components/StateTable.vue
  frontend-showcase-vis/src/components/UserObject.vue
  frontend-showcase-vis/src/components/VehicleObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

show state table update on events
  frontend-showcase-vis/src/components/StateTableObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

completely remove internal event bus
  frontend-showcase-vis/src/components/StopObject.vue
  frontend-showcase-vis/src/events.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

refactor store for raphi
  frontend-showcase-vis/src/stores/mapObjects.ts
  frontend-showcase-vis/src/stores/store.ts
  showcase-user-interface/src/App.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

set transition time to 0.5
  frontend-showcase-vis/src/components/MapVisu.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

send random transaction events to frontend
  backend/tests/simple.ts
  frontend-showcase-vis/package-lock.json
  vehicle-mock/src/mover.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/vehicle-mock-build.yml

fix pos update timeout
  vehicle-mock/src/mover.ts
Due: azure-pipelines/vehicle-mock-build.yml

fix build error
  showcase-user-interface/src/App.vue
Due: azure-pipelines/showcase-user-interface-build.yml

fix expected number error in z-index
  frontend-showcase-vis/src/components/UserObject.vue
  frontend-showcase-vis/src/components/VehicleObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

react to transaction events
  frontend-showcase-vis/src/components/EventList.vue
  frontend-showcase-vis/src/components/StateTableObject.vue
  frontend-showcase-vis/src/components/VehicleObject.vue
  frontend-showcase-vis/src/stores/store.ts
  frontend-showcase-vis/src/stores/transactions/index.ts
  frontend-showcase-vis/src/stores/transactions/types.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

init user-interface
  .vscode/settings.json
  frontend-showcase-vis/package-lock.json
  frontend-showcase-vis/src/components/MapVisu.vue
  showcase-user-interface/.eslintrc.js
  showcase-user-interface/package-lock.json
  showcase-user-interface/package.json
  showcase-user-interface/postcss.config.js
  showcase-user-interface/src/App.vue
  showcase-user-interface/src/components/HelloWorld.vue
  showcase-user-interface/src/components/Login.vue
  showcase-user-interface/src/components/RouteSelection.vue
  showcase-user-interface/src/custom_typings/vue-socket.io/index.d.ts
  showcase-user-interface/src/custom_typings/vue/index.d.ts
  showcase-user-interface/src/main.ts
  showcase-user-interface/src/shims-tsx.d.ts
  showcase-user-interface/src/shims-vue.d.ts
  showcase-user-interface/src/store.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

initiate store + login
  showcase-user-interface/src/App.vue
  showcase-user-interface/src/components/Login.vue
  showcase-user-interface/src/main.ts
  showcase-user-interface/src/store.ts
  showcase-user-interface/src/stores/mapObjects/index.ts
  showcase-user-interface/src/stores/mapObjects/types.ts
  showcase-user-interface/src/stores/store.ts
  showcase-user-interface/src/stores/transactions/index.ts
  showcase-user-interface/src/stores/transactions/types.ts
  showcase-user-interface/src/stores/types.ts
  showcase-user-interface/src/stores/user/index.ts
  showcase-user-interface/src/stores/user/types.ts
Due: azure-pipelines/showcase-user-interface-build.yml

change style to bootstrap
  showcase-user-interface/package-lock.json
  showcase-user-interface/package.json
  showcase-user-interface/src/components/Login.vue
  showcase-user-interface/src/main.ts
Due: azure-pipelines/showcase-user-interface-build.yml

connect store to gui
  showcase-user-interface/src/App.vue
  showcase-user-interface/src/components/Login.vue
  showcase-user-interface/src/stores/store.ts
  showcase-user-interface/src/stores/user/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

add test seed
  showcase-user-interface/src/App.vue
  showcase-user-interface/src/components/Login.vue
  showcase-user-interface/src/stores/user/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

migrate mapvisu to user-interface
  showcase-user-interface/package-lock.json
  showcase-user-interface/package.json
  showcase-user-interface/public/assets/images/car.png
  showcase-user-interface/public/assets/images/iota.png
  showcase-user-interface/public/assets/images/male.png
  showcase-user-interface/public/assets/images/stop.png
  showcase-user-interface/public/assets/images/tram.png
  showcase-user-interface/src/App.vue
  showcase-user-interface/src/assets/logo.png
  showcase-user-interface/src/components/Login.vue
  showcase-user-interface/src/components/MapVisu.vue
  showcase-user-interface/src/components/RouteSelection.vue
  showcase-user-interface/src/components/StopObject.vue
  showcase-user-interface/src/components/UserObject.vue
  showcase-user-interface/src/components/VehicleObject.vue
  showcase-user-interface/src/main.ts
Due: azure-pipelines/showcase-user-interface-build.yml

attempt to fix lint errors
  frontend-showcase-vis/.eslintrc.js
  frontend-showcase-vis/src/components/StateTableObject.vue
  frontend-showcase-vis/src/components/UserObject.vue
  frontend-showcase-vis/src/components/VehicleObject.vue
  frontend-showcase-vis/src/stores/mapObjects/types.ts
  showcase-user-interface/.eslintrc.js
  showcase-user-interface/package.json
  showcase-user-interface/src/App.vue
  showcase-user-interface/src/components/Login.vue
  showcase-user-interface/src/components/RouteSelection.vue
  showcase-user-interface/src/components/UserObject.vue
  showcase-user-interface/src/components/VehicleObject.vue
  showcase-user-interface/src/stores/mapObjects/types.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

init route selection
  showcase-user-interface/src/components/MapVisu.vue
  showcase-user-interface/src/components/RouteSelection.vue
  showcase-user-interface/src/stores/user/index.ts
  showcase-user-interface/src/stores/user/types.ts
Due: azure-pipelines/showcase-user-interface-build.yml

place routes selection table + vuex
  showcase-user-interface/src/components/RouteSelection.vue
  showcase-user-interface/src/stores/routes/index.ts
  showcase-user-interface/src/stores/routes/types.ts
  showcase-user-interface/src/stores/store.ts
Due: azure-pipelines/showcase-user-interface-build.yml

make vehicle icon dynamic
  frontend-showcase-vis/src/components/VehicleObject.vue
  showcase-user-interface/src/components/VehicleObject.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

added ui mock
  docs/bootstrap ui.pdf
Due: none

make route list selectable
  showcase-user-interface/src/components/RouteSelection.vue
  showcase-user-interface/src/stores/routes/index.ts
  showcase-user-interface/src/stores/routes/types.ts
Due: azure-pipelines/showcase-user-interface-build.yml

refactor destination selection
  showcase-user-interface/src/components/RouteSelection.vue
Due: azure-pipelines/showcase-user-interface-build.yml

added login endpoint (#19)
  backend/package-lock.json
  backend/src/controller.ts
  backend/src/envInfo.ts
  backend/src/events.ts
  backend/src/server.ts
  backend/tests/simple.ts
Due: none

add route observer
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/components/RouteSelection.vue
  showcase-user-interface/src/main.ts
Due: azure-pipelines/showcase-user-interface-build.yml

fix synching env and login
  backend/src/controller.ts
  backend/src/envInfo.ts
  backend/src/events.ts
  backend/src/logger.ts
  backend/src/server.ts
  backend/src/users.ts
  backend/tests/simple.ts
Due: none

created routes endpoint
  backend/src/routeInfo.ts
  backend/src/server.ts
Due: none

rename id in logout
  backend/src/events.ts
Due: none

delete old mock files
  backend/src/env.ts
  backend/src/mock/envMock.ts
  backend/src/mock/vehicleMock.ts
  backend/src/vehicle.ts
Due: none

added logout endpoint
  backend/src/controller.ts
  backend/src/server.ts
Due: none

user loggin enabled
  showcase-user-interface/src/App.vue
  showcase-user-interface/src/components/Login.vue
  showcase-user-interface/src/stores/user/index.ts
  showcase-user-interface/src/stores/user/types.ts
Due: azure-pipelines/showcase-user-interface-build.yml

add navbar
  showcase-user-interface/src/App.vue
  showcase-user-interface/src/components/Login.vue
  showcase-user-interface/src/stores/user/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml
