Repository RaphaelManke/fzi-iota-showcase: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml, azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

azure-pipelines/frontend-showcase-vis-build.yml:

#
#
#

variables:
  app_path: frontend-showcase-vis
  app_name: Frontend showcase visulization

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'frontend-showcase-vis/*'
    - 'azure-pipelines/frontend-showcase-vis-build.yml'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/showcase-user-interface-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  groups: dockerRegistry
  app_path: showcase-user-interface
  app_name: Showcase user-interface

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'showcase-user-interface/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/vehicle-client-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  app_path: vehicle-client
  app_name: Vehicle Client

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'vehicle-client/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/vehicle-mock-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  app_path: vehicle-mock
  app_name: Vehicle mock

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'vehicle-mock/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

added checkInMessage convert test
  client/.npmrc
  client/package.json
  client/src/messages/checkInMessage.ts
  client/src/messages/converter.ts
  client/tests/message.spec.ts
  vehicle-client/package-lock.json
  vehicle-client/package.json
  vehicle-client/src/tripPublisher.ts
Due: azure-pipelines/vehicle-client-build.yml

added conversion + tests for messages
  client/src/messages/checkInMessage.ts
  client/src/messages/converter.ts
  client/src/messages/reservationMessage.ts
  client/src/messages/stopWelcomeMessage.ts
  client/src/reservation.ts
  client/tests/message.spec.ts
  vehicle-client/src/vehiclePublisher.ts
Due: azure-pipelines/vehicle-client-build.yml

deleted unnecessary dockerfiles
  client/Dockerfile
  tram-mock/Dockerfile
  user-client/Dockerfile
  vehicle-client/Dockerfile
  vehicle-mock/Dockerfile
Due: azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

renamed publishVehicle return props
  vehicle-client/src/vehiclePublisher.ts
  vehicle-client/tests/publishVehicle.spec.ts
Due: azure-pipelines/vehicle-client-build.yml

export checkInMessage
  client/src/index.ts
Due: none

export toTrytes from client
  client/src/index.ts
Due: none

refactor testing
  .gitignore
  client/package-lock.json
  client/package.json
  client/test/message.spec.ts
  client/test/mocha.opts
Due: none

moved tests
  client/tsconfig.json
  vehicle-client/test/publishVehicle.spec.ts
  vehicle-client/test/seeds.spec.ts
  vehicle-client/tsconfig.json
Due: azure-pipelines/vehicle-client-build.yml

added publish test results
  azure-pipelines/jobs/build-lib.yml
  client/package.json
  client/test/mocha.opts
Due: none

fixed tsconfig
  backend/tsconfig.json
  client/tsconfig.json
  tram-mock/tsconfig.json
  user-client/tsconfig.json
  vehicle-client/tsconfig.json
  vehicle-mock/tsconfig.json
Due: azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

added date to tag function
  client/src/dateTagger.ts
  client/src/index.ts
Due: none

fixed test result search folder
  azure-pipelines/jobs/build-lib.yml
Due: none

added email address
  client/package.json
Due: none

updated test config
  vehicle-client/package-lock.json
  vehicle-client/package.json
  vehicle-client/test/mocha.opts
Due: azure-pipelines/vehicle-client-build.yml

added coverage config
  vehicle-client/package.json
Due: azure-pipelines/vehicle-client-build.yml

added devops styling
  client/package.json
  client/process-coverage-report.js
Due: none

moved code cov script to common folder
  azure-pipelines/jobs/build-lib.yml
  azure-pipelines/scripts/process-coverage-report.js
Due: none

added prettify coverage results
  vehicle-client/package.json
Due: azure-pipelines/vehicle-client-build.yml

added missing package
  vehicle-client/package.json
Due: azure-pipelines/vehicle-client-build.yml

added name for tests
  azure-pipelines/jobs/build-lib.yml
Due: none

updated checkInMessage
  client/package-lock.json
  client/src/messages/checkInMessage.ts
  client/test/message.spec.ts
Due: none

added checkInPublisher
  vehicle-client/src/checkInPublisher.ts
  vehicle-client/src/tripPublisher.ts
  vehicle-client/src/vehiclePublisher.ts
Due: azure-pipelines/vehicle-client-build.yml

refactored logger
  client/src/index.ts
  client/src/logger.ts
  vehicle-client/src/checkInPublisher.ts
  vehicle-client/src/vehiclePublisher.ts
  vehicle-client/test/publishVehicle.spec.ts
  vehicle-client/test/seeds.spec.ts
Due: azure-pipelines/vehicle-client-build.yml

added checkIn test
  client/src/messages/checkInMessage.ts
  vehicle-client/src/checkInPublisher.ts
  vehicle-client/test/checkInPublisher.spec.ts
  vehicle-client/test/publishVehicle.spec.ts
Due: azure-pipelines/vehicle-client-build.yml

added missing dependencie
  frontend-showcase-vis/package-lock.json
  frontend-showcase-vis/package.json
Due: azure-pipelines/frontend-showcase-vis-build.yml

update to node 11
  azure-pipelines/jobs/build-lib.yml
Due: none

chnage to node v11
  azure-pipelines/jobs/build-node.yml
  azure-pipelines/jobs/build-vue.yml
Due: none

added suffix id
  vehicle-client/package.json
Due: azure-pipelines/vehicle-client-build.yml

remove package lock before install
  azure-pipelines/jobs/build-lib.yml
Due: none

fixed typo
  azure-pipelines/jobs/build-lib.yml
Due: none

added correct version
  vehicle-client/package.json
Due: azure-pipelines/vehicle-client-build.yml

moved client lib to normal dependecies
  vehicle-client/package.json
Due: azure-pipelines/vehicle-client-build.yml

reduced published package size
  client/package.json
Due: none

updated test config
  client/package.json
  client/test/mocha.opts
  vehicle-client/package-lock.json
  vehicle-client/package.json
  vehicle-client/src/vehiclePublisher.ts
  vehicle-client/test/mocha.opts
Due: azure-pipelines/vehicle-client-build.yml

check iota node available before test
  client/src/exception.ts
  client/src/index.ts
  vehicle-client/src/checkInPublisher.ts
  vehicle-client/src/vehiclePublisher.ts
  vehicle-client/test/checkInPublisher.spec.ts
  vehicle-client/test/iota.ts
  vehicle-client/test/publishVehicle.spec.ts
Due: azure-pipelines/vehicle-client-build.yml

added support for testing multiple nodes available
  vehicle-client/test/checkInPublisher.spec.ts
  vehicle-client/test/iota.ts
  vehicle-client/test/publishVehicle.spec.ts
Due: azure-pipelines/vehicle-client-build.yml

use tested provider
  vehicle-client/test/checkInPublisher.spec.ts
Due: azure-pipelines/vehicle-client-build.yml

added checkOut and reservation publishers
  vehicle-client/src/checkOutPublisher.ts
  vehicle-client/src/reservationPublisher.ts
Due: azure-pipelines/vehicle-client-build.yml

deleted unused package-locks
  package-lock.json
  vehicle-client/package-lock.json.old
Due: azure-pipelines/vehicle-client-build.yml

added tripReader
  .vscode/settings.json
  client/src/tripReader.ts
  client/src/vehicleReader.ts
Due: none
