Repository RaphaelManke/fzi-iota-showcase: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml, azure-pipelines/vehicle-client-build.yml, azure-pipelines/vehicle-mock-build.yml

azure-pipelines/frontend-showcase-vis-build.yml:

#
#
#

variables:
  app_path: frontend-showcase-vis
  app_name: Frontend showcase visulization

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'frontend-showcase-vis/*'
    - 'azure-pipelines/frontend-showcase-vis-build.yml'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/showcase-user-interface-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  groups: dockerRegistry
  app_path: showcase-user-interface
  app_name: Showcase user-interface

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'showcase-user-interface/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/vehicle-client-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  app_path: vehicle-client
  app_name: Vehicle Client

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'vehicle-client/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

azure-pipelines/vehicle-mock-build.yml:

# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  app_path: vehicle-mock
  app_name: Vehicle mock

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'vehicle-mock/*'


jobs:
- template: jobs/build.yml  # Template reference
  parameters:
    app_name: $(app_name)
    pool:
      vmImage: 'ubuntu-16.04'

redesign events
  showcase-user-interface/src/components/RouteObserver.vue
Due: azure-pipelines/showcase-user-interface-build.yml

fix bug on checkIn schedule
  tram-mock/src/scheduleHandler.ts
Due: none

get backend hostname from window.location
  frontend-showcase-vis/.env.development
  frontend-showcase-vis/.env.production
  frontend-showcase-vis/src/main.ts
  showcase-user-interface/.env.development
  showcase-user-interface/.env.production
  showcase-user-interface/src/main.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

change bike image
  frontend-showcase-vis/public/assets/images/bike.png
  showcase-user-interface/public/assets/images/bike.png
  showcase-user-interface/src/stores/routes/index.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml, azure-pipelines/showcase-user-interface-build.yml

fixed test
  tram-mock/test/scheduler.spec.ts
Due: none

clearify error messages on start trip
  backend/src/controller.ts
Due: none

implement wait for vehicle till next action
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/components/RouteSelection.vue
  showcase-user-interface/src/stores/routes/index.ts
  showcase-user-interface/src/stores/routes/types.ts
  showcase-user-interface/src/stores/user/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

update user balance on payment issued
  showcase-user-interface/src/stores/routes/index.ts
  showcase-user-interface/src/stores/user/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml

implement qr-code scanner on login
  showcase-user-interface/package-lock.json
  showcase-user-interface/package.json
  showcase-user-interface/src/components/Login.vue
  showcase-user-interface/src/main.ts
Due: azure-pipelines/showcase-user-interface-build.yml

fix no login after scanning qr
  showcase-user-interface/src/components/Login.vue
Due: azure-pipelines/showcase-user-interface-build.yml

return checkInMessage
  vehicle-mock/src/vehicleMock.ts
Due: azure-pipelines/vehicle-mock-build.yml

add custom typings for qrcode plugin
  showcase-user-interface/src/custom_typings/vue-qrcode-reader/index.d.ts
Due: azure-pipelines/showcase-user-interface-build.yml

time starting of schedule
  showcase-user-interface/package-lock.json
  tram-mock/package-lock.json
  tram-mock/src/scheduleHandler.ts
Due: azure-pipelines/showcase-user-interface-build.yml

generate users from seeds
  backend/names.json
  backend/package-lock.json
  backend/src/generate_users.js
  backend/users_gen.json
Due: none

fix time constraints of schedule
  tram-mock/package-lock.json
  tram-mock/package.json
  tram-mock/src/scheduleHandler.ts
  tram-mock/test/scheduler.spec.ts
Due: none

consider validUntil in routing
  backend/package-lock.json
  backend/src/router.ts
Due: none

move seed files
  backend/distribute_iota.js
  backend/generate_users.js
  backend/seeds.json
Due: none

send allowedDestinations in reachedStop event
  backend/src/events.ts
  backend/src/logger.ts
  backend/src/mockConstructor.ts
Due: none

fix test
  tram-mock/test/scheduler.spec.ts
Due: none

try done instead of return promise
  tram-mock/test/scheduler.spec.ts
Due: none

try async await
  tram-mock/test/scheduler.spec.ts
Due: none

rework qr-code scanning
  showcase-user-interface/src/components/Login.vue
Due: azure-pipelines/showcase-user-interface-build.yml

refactor publishing of schedule
  backend/schedules.json
  backend/src/mockConstructor.ts
  backend/vehicles.json
  tram-mock/package-lock.json
  tram-mock/package.json
  tram-mock/src/scheduleHandler.ts
  tram-mock/test/scheduler.spec.ts
Due: none

added schedule.json to docker
  backend/Dockerfile
Due: none

extended env vars for docker-compose
  deployment/.env.example
  deployment/docker-compose.yml
Due: none

moved config files to seperate directory
  backend/config/connections.json
  backend/config/schedules.json
  backend/config/stops.json
  backend/config/users.json
  backend/config/vehicles.json
  backend/src/main.ts
Due: none

added config folder to dockerfile
  backend/Dockerfile
Due: none

make route list prettier
  frontend-showcase-vis/src/components/RouteList.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

refactor file structure
  backend/Dockerfile
Due: none

add two users
  backend/config/users.json
Due: none

error handling for tx processing in boarders
  user-client/src/tripHandler.ts
  vehicle-client/src/boardingHandler.ts
Due: azure-pipelines/vehicle-client-build.yml

rename properties of trip
  backend/src/controller.ts
  backend/src/envInfo.ts
  backend/src/server.ts
Due: none

attempt to fix multi user trips
  frontend-showcase-vis/src/stores/mapObjects/index.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

fix multi passenger stay in vehicle bug
  frontend-showcase-vis/src/stores/mapObjects/index.ts
Due: azure-pipelines/frontend-showcase-vis-build.yml

mkae route card centered
  frontend-showcase-vis/src/components/RouteList.vue
Due: azure-pipelines/frontend-showcase-vis-build.yml

fix resume keeps showning afer clicked
  showcase-user-interface/src/components/RouteObserver.vue
Due: azure-pipelines/showcase-user-interface-build.yml

auto login after qr scan
  showcase-user-interface/src/components/Login.vue
Due: azure-pipelines/showcase-user-interface-build.yml

enable auto boarding and waiting
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/stores/routes/index.ts
  showcase-user-interface/src/stores/routes/types.ts
Due: azure-pipelines/showcase-user-interface-build.yml

added check for right destination
  showcase-user-interface/src/components/RouteObserver.vue
  showcase-user-interface/src/stores/routes/index.ts
Due: azure-pipelines/showcase-user-interface-build.yml
